/* Cozy UI utilities classes */
@import '~cozy-ui/dist/cozy-ui.min.css';
/* Cozy UI React components styles */
@import '~cozy-ui/transpiled/react/stylesheet.css';
/* App styles */
@import './nav.css';

html,
body {
  height: 100%;
}

a {
  color: var(--dodgerBlue);
  text-decoration: none;
}
