<div class="header">
    <div class="left">
        <a ng-click="$ctrl.close()" href="">{{$ctrl.i18n.close}}</a>
    </div>
    <div class="right">
        <a ng-click="$ctrl.select()" ng-show="$ctrl.showSelect" href="">{{$ctrl.i18n.select}}</a>
    </div>
    <div class="title">{{$ctrl.i18n.generatePassword}}</div>
</div>
<div class="content">
    <div class="generate-password-block">
        {{$ctrl.password}}
    </div>
    <div class="list" style="margin-top: 0;">
        <div class="list-section" style="padding-top: 0;">
            <div class="list-section-items">
                <a class="list-section-item text-primary" href="" ng-click="$ctrl.regenerate(true)">
                    {{$ctrl.i18n.regeneratePassword}}
                </a>
                <a class="list-section-item text-primary" href="" ngclipboard ngclipboard-error="$ctrl.clipboardError(e)"
                   ngclipboard-success="$ctrl.clipboardSuccess(e)" data-clipboard-text="{{$ctrl.password}}">
                    {{$ctrl.i18n.copyPassword}}
                </a>
                <a class="list-section-item text-primary" href="" ng-click="$ctrl.goHistory()">
                    {{$ctrl.i18n.passwordHistory}}
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
            </div>
        </div>
        <div class="list-section">
            <div class="list-section-header">
                {{$ctrl.i18n.options}}
            </div>
            <div class="list-section-items">
                <div class="list-section-item list-section-item-slider">
                    <label for="length">{{$ctrl.i18n.length}}</label>
                    <span class="slider-value">{{$ctrl.options.length}}</span>
                    <div class="slider-wrapper">
                        <input id="length" type="range" min="5" max="128" step="1" ng-model="$ctrl.options.length"
                               ng-change="$ctrl.sliderMoved()">
                    </div>
                </div>
                <div class="list-section-item list-section-item-checkbox">
                    <label for="uppercase">A-Z</label>
                    <input id="uppercase" type="checkbox" ng-model="$ctrl.options.uppercase" ng-change="$ctrl.saveOptions($ctrl.options)">
                </div>
                <div class="list-section-item list-section-item-checkbox">
                    <label for="lowercase">a-z</label>
                    <input id="lowercase" type="checkbox" ng-model="$ctrl.options.lowercase" ng-change="$ctrl.saveOptions($ctrl.options)">
                </div>
                <div class="list-section-item list-section-item-checkbox">
                    <label for="numbers">0-9</label>
                    <input id="numbers" type="checkbox" ng-model="$ctrl.options.number" ng-change="$ctrl.saveOptions($ctrl.options)">
                </div>
                <div class="list-section-item list-section-item-checkbox">
                    <label for="special">!@#$%^&*</label>
                    <input id="special" type="checkbox" ng-model="$ctrl.options.special" ng-change="$ctrl.saveOptions($ctrl.options)">
                </div>
            </div>
        </div>
        <div class="list-section">
            <div class="list-section-items">
                <div class="list-section-item list-section-item-input">
                    <label for="min-numbers">{{$ctrl.i18n.minNumbers}}</label>
                    <input id="min-numbers" type="number" min="0" max="5" ng-model="$ctrl.options.minNumber"
                           ng-change="$ctrl.saveOptions($ctrl.options)">
                </div>
                <div class="list-section-item list-section-item-input">
                    <label for="min-special">{{$ctrl.i18n.minSpecial}}</label>
                    <input id="min-special" type="number" min="0" max="5" ng-model="$ctrl.options.minSpecial"
                           ng-change="$ctrl.saveOptions($ctrl.options)">
                </div>
            </div>
        </div>
        <div class="list-section">
            <div class="list-section-items">
                <div class="list-section-item list-section-item-checkbox">
                    <label for="ambiguous">{{$ctrl.i18n.avoidAmbChar}}</label>
                    <input id="ambiguous" type="checkbox" ng-model="$ctrl.options.ambiguous"
                           ng-true-value="false" ng-false-value="true"
                           ng-change="$ctrl.saveOptions($ctrl.options)">
                </div>
            </div>
        </div>
    </div>
</div>
