@import "variables.scss";

/*
html.browser_firefox, html.browser_edge {
    body {
        width: 320px !important;
        height: 568px !important;
    }
}
*/

html.browser_safari {
    header { 
        .search .fa {
            left: 25px;
        }

        .left + .search .fa {
            left: 15px;
        }
    }
}
