@import "variables.scss";

app-sync {
    content {
        .btn {
            margin-bottom: 10px;
        }
    }
}

app-password-generator .password-block {
    font-size: $font-size-large;
    word-break: break-all;
    font-family: $font-family-monospace;
    text-align: center;
    margin: 20px;
}
