$font-family-sans-serif: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-size-base: 14px;
$font-size-large: 18px;
$font-size-small: 12px;
$text-color: #000000;
$background-color: #efeff4;
$border-color: #f0f0f0;
$border-color-dark: #ddd;
$list-item-hover: #fbfbfb;
$list-icon-color: #c7c7cd;
$border-radius: 3px;
$line-height-base: 1.42857143;

$gray: #555;
$gray-light: #777;
$text-muted: $gray-light;

$brand-primary: #3c8dbc;
$brand-danger: #dd4b39;
$brand-success: #00a65a;
$brand-info: #555555;
$brand-warning: #bf7e16;
$brand-primary-accent: #286090;

$background-color: #efeff4;
$background-color-alt: #ecf0f5;

$box-background-color: white;
$box-background-hover-color: $list-item-hover;
$box-border-color: $border-color;

$button-border-color: darken($border-color-dark, 12%);
$button-background-color: white;
$button-color: lighten($text-color, 40%);
$button-color-primary: darken($brand-primary, 8%);
$button-color-danger: darken($brand-danger, 10%);

$themes: (
    light: (
        textColor: $text-color,
        borderColor: $border-color-dark,
        backgroundColor: $background-color,
        backgroundColorAlt: #ffffff,
        scrollbarColor: rgba(100,100,100,.2),
        scrollbarHoverColor: rgba(100,100,100,.4),
        boxBackgroundColor: $box-background-color,
        boxBackgroundHoverColor: $box-background-hover-color,
        boxBorderColor: $box-border-color,
        tabBackgroundColor: #ffffff,
        tabBackgroundHoverColor: $list-item-hover,
        headerColor: #ffffff,
        headerBackgroundColor: $brand-primary,
        headerBackgroundHoverColor: rgba(255, 255, 255, 0.1),
        headerBorderColor: $brand-primary,
        headerInputBackgroundColor: darken($brand-primary, 8%),
        headerInputBackgroundFocusColor: darken($brand-primary, 10%),
        headerInputColor: #ffffff,
        headerInputPlaceholderColor: lighten($brand-primary, 35%),
        listItemBackgroundHoverColor: $list-item-hover,
        disabledIconColor: $list-icon-color,
        headingColor: $gray-light,
        labelColor: $gray-light,
        mutedColor: $text-muted,
        totpStrokeColor: $brand-primary,
        boxRowButtonColor: $brand-primary,
        boxRowButtonHoverColor: darken($brand-primary, 10%),
        inputBorderColor: darken($border-color-dark, 7%),
        inputBackgroundColor: #ffffff,
        inputPlaceholderColor: lighten($gray-light, 35%),
        buttonBackgroundColor: $button-background-color,
        buttonBorderColor: $button-border-color,
        buttonColor: $button-color,
        buttonPrimaryColor: $button-color-primary,
        buttonDangerColor: $button-color-danger,
        primaryColor: $brand-primary,
        primaryAccentColor: $brand-primary-accent,
        dangerColor: $brand-danger,
        successColor: $brand-success,
        infoColor: $brand-info,
        warningColor: $brand-warning,
        logoSuffix: 'dark',
    ),
    dark: (
        textColor: #ffffff,
        borderColor: #111111,
        backgroundColor: #222222,
        backgroundColorAlt: #3d3d3d,
        scrollbarColor: #4d4d4d,
        scrollbarHoverColor: #5f5f5f,
        boxBackgroundColor: #363636,
        boxBackgroundHoverColor: #3f3f3f,
        boxBorderColor: #2f2f2f,
        tabBackgroundColor: #363636,
        tabBackgroundHoverColor: #3f3f3f,
        headerColor: #ffffff,
        headerBackgroundColor: #363636,
        headerBackgroundHoverColor: #3f3f3f,
        headerBorderColor: #111111,
        headerInputBackgroundColor: #222222,
        headerInputBackgroundFocusColor: #1d1d1d,
        headerInputColor: #ffffff,
        headerInputPlaceholderColor: #707070,
        listItemBackgroundHoverColor: #3c3c3c,
        disabledIconColor: #c7c7cd,
        headingColor: #a3a3a3,
        labelColor: #a3a3a3,
        mutedColor: #a3a3a3,
        totpStrokeColor: #cacaca,
        boxRowButtonColor: #cacaca,
        boxRowButtonHoverColor: #ffffff,
        inputBorderColor: #222222,
        inputBackgroundColor: #363636,
        inputPlaceholderColor: #707070,
        buttonBackgroundColor: #363636,
        buttonBorderColor: #1f1f1f,
        buttonColor: #e0e0e0,
        buttonPrimaryColor: #46ace7,
        buttonDangerColor: #ff3e24,
        primaryColor: #52bdfb,
        primaryAccentColor: #3ea1da,
        dangerColor: #ff3e24,
        successColor: $brand-success,
        infoColor: $brand-info,
        warningColor: $brand-warning,
        logoSuffix: 'white',
    ),
);

@mixin themify($themes: $themes) {
    @each $theme, $map in $themes {
        html.theme_#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}
