<form #form class="modal-content" (ngSubmit)="submit()">
    <header>
        <div class="left">
            <a routerLink="/home">{{'close' | i18n}}</a>
        </div>
        <div class="center">
            <span class="title">{{'appName' | i18n}}</span>
        </div>
        <div class="right">
            <button type="submit" appBlurClick [disabled]="form.loading">
                <span [hidden]="form.loading">{{'save' | i18n}}</span>
                <i class="fa fa-spinner fa-spin" [hidden]="!form.loading"></i>
            </button>
        </div>
    </header>
    <content>
        <div class="box">
            <div class="box-header">
                {{'selfHostedEnvironment' | i18n}}
            </div>
            <div class="box-content">
                <div class="box-content-row" appBoxRow>
                    <label for="baseUrl">{{'baseUrl' | i18n}}</label>
                    <input id="baseUrl" type="text" name="BaseUrl" [(ngModel)]="baseUrl"
                           placeholder="ex. https://bitwarden.company.com">
                </div>
            </div>
            <div class="box-footer">
                {{'selfHostedEnvironmentFooter' | i18n}}
            </div>
        </div>
        <div class="box">
            <div class="box-header">
                {{'customEnvironment' | i18n}}
            </div>
            <div class="box-content" [hidden]="!showCustom">
                <div class="box-content-row" appBoxRow>
                    <label for="webVaultUrl">{{'webVaultUrl' | i18n}}</label>
                    <input id="webVaultUrl" type="text" name="WebVaultUrl" [(ngModel)]="webVaultUrl">
                </div>
                <div class="box-content-row" appBoxRow>
                    <label for="apiUrl">{{'apiUrl' | i18n}}</label>
                    <input id="apiUrl" type="text" name="ApiUrl" [(ngModel)]="apiUrl">
                </div>
                <div class="box-content-row" appBoxRow>
                    <label for="identityUrl">{{'identityUrl' | i18n}}</label>
                    <input id="identityUrl" type="text" name="IdentityUrl" [(ngModel)]="identityUrl">
                </div>
                <div class="box-content-row" appBoxRow>
                    <label for="iconsUrl">{{'iconsUrl' | i18n}}</label>
                    <input id="iconsUrl" type="text" name="IconsUrl" [(ngModel)]="iconsUrl">
                </div>
            </div>
            <div class="box-footer" [hidden]="!showCustom">
                {{'customEnvironmentFooter' | i18n}}
            </div>
        </div>
    </content>
</form>
