<form id="two-factor-page" #form (ngSubmit)="submit()" [appApiAction]="formPromise">
    <header>
        <div class="left">
            <a routerLink="/login">{{'cancel' | i18n}}</a>
        </div>
        <div class="center">
            <span class="title">{{title}}</span>
        </div>
        <div class="right">
            <button type="submit" appBlurClick [disabled]="form.loading"
                    *ngIf="selectedProviderType != null && selectedProviderType !== providerType.Duo &&
                        selectedProviderType !== providerType.OrganizationDuo">
                <span [hidden]="form.loading">{{'continue' | i18n}}</span>
                <i class="fa fa-spinner fa-spin" [hidden]="!form.loading"></i>
            </button>
        </div>
    </header>
    <ng-container *ngIf="selectedProviderType === providerType.Authenticator ||
                  selectedProviderType === providerType.Email">
        <div class="content">
            <p *ngIf="selectedProviderType === providerType.Authenticator">{{'enterVerificationCodeApp' | i18n}}</p>
            <p *ngIf="selectedProviderType === providerType.Email">
                {{'enterVerificationCodeEmail' | i18n : twoFactorEmail}}
            </p>
        </div>
        <div class="box">
            <div class="box-content">
                <div class="box-content-row" appBoxRow>
                    <label for="code">{{'verificationCode' | i18n}}</label>
                    <input id="code" type="text" name="Code" [(ngModel)]="token" required appAutofocus>
                </div>
                <div class="box-content-row box-content-row-checkbox" appBoxRow>
                    <label for="remember">{{'rememberMe' | i18n}}</label>
                    <input id="remember" type="checkbox" name="Remember" [(ngModel)]="remember">
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="selectedProviderType === providerType.Yubikey">
        <div class="content">
            <p>{{'insertYubiKey' | i18n}}</p>
            <img src="../images/yubikey.jpg" class="img-rounded img-responsive" alt="">
        </div>
        <div class="box">
            <div class="box-content">
                <div class="box-content-row" appBoxRow>
                    <label for="code" class="sr-only">{{'verificationCode' | i18n}}</label>
                    <input id="code" type="password" name="Code" [(ngModel)]="token" required appAutofocus>
                </div>
                <div class="box-content-row box-content-row-checkbox" appBoxRow>
                    <label for="remember">{{'rememberMe' | i18n}}</label>
                    <input id="remember" type="checkbox" name="Remember" [(ngModel)]="remember">
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="selectedProviderType === providerType.Duo ||
                        selectedProviderType === providerType.OrganizationDuo">
        <div id="duo-frame"><iframe id="duo_iframe"></iframe></div>
        <div class="box">
            <div class="box-content">
                <div class="box-content-row box-content-row-checkbox" appBoxRow>
                    <label for="remember">{{'rememberMe' | i18n}}</label>
                    <input id="remember" type="checkbox" name="Remember" [(ngModel)]="remember">
                </div>
            </div>
        </div>
    </ng-container>
    <div class="content" *ngIf="selectedProviderType == null">
        <p>{{'noTwoStepProviders' | i18n}}</p>
        <p>{{'noTwoStepProviders2' | i18n}}</p>
    </div>
    <div class="content">
        <p class="text-center">
            <a href="#" appStopClick (click)="anotherMethod()">{{'useAnotherTwoStepMethod' | i18n}}</a>
        </p>
        <p class="text-center" *ngIf="selectedProviderType === providerType.Email">
            <a href="#" appStopClick (click)="sendEmail(true)" [appApiAction]="emailPromise">
                {{'sendVerificationCodeEmailAgain' | i18n}}
            </a>
        </p>
    </div>
</form>
