<div class="header">
    <div class="left">
        <a ui-sref="tabs.settings({animation: 'out-slide-right'})"><i class="fa fa-chevron-left"></i> Settings</a>
    </div>
    <div class="title">Help and Feedback</div>
</div>
<div class="content">
    <div class="list">
        <div class="list-section">
            <div class="list-section-items">
                <a class="list-section-item" href="" ng-click="email()">
                    Email Us
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
            </div>
            <div class="list-section-footer">
                Email us directly to get help or leave feedback.
            </div>
        </div>
        <div class="list-section">
            <div class="list-section-items">
                <a class="list-section-item" href="" ng-click="website()">
                    Visit Our Website
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
            </div>
            <div class="list-section-footer">
                Visit our website to get help, news, email us, and/or learn more about how to use bitwarden.
            </div>
        </div>
        <div class="list-section">
            <div class="list-section-items">
                <a class="list-section-item" href="" ng-click="bug()">
                    File a Bug Report
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
            </div>
            <div class="list-section-footer">
                Open an issue at our GitHub repository.
            </div>
        </div>
    </div>
</div>
