<div class="header">
    <div class="left">
        <a ui-sref="tabs.settings({animation: 'out-slide-right'})"><i class="fa fa-chevron-left"></i> {{i18n.back}}</a>
    </div>
    <div class="title">{{i18n.sync}}</div>
</div>
<div class="content">
    <div class="centered-message">
        <p style="margin-top: -50px;">
            <a href="" class="btn btn-lg btn-link btn-block" style="display: inline-block;" ng-click="sync()">
                {{i18n.syncVaultNow}}
            </a>
            <small class="text-muted">{{i18n.lastSync}} {{lastSync}}</small>
            <span ng-show="loading" style="display: block; margin-top: 20px;" class="text-center">
                <i class="text-muted fa fa-lg fa-spinner fa-spin"></i>
            </span>
        </p>
    </div>
</div>
