<div class="header">
    <div class="left">
        <a ui-sref="tabs.settings({animation: 'out-slide-right'})"><i class="fa fa-chevron-left"></i> {{i18n.settings}}</a>
    </div>
    <div class="title">{{i18n.features}}</div>
</div>
<div class="content">
    <div class="list">
        <div class="list-section">
            <div class="list-section-items">
                <div class="list-section-item list-section-item-checkbox">
                    <label for="ga">{{i18n.disableGa}}</label>
                    <input id="ga" type="checkbox" ng-model="disableGa" ng-change="updateGa()">
                </div>
            </div>
            <div class="list-section-footer">
                {{i18n.gaDesc}}
            </div>
        </div>
        <div class="list-section">
            <div class="list-section-items">
                <div class="list-section-item list-section-item-checkbox">
                    <label for="notification-bar">{{i18n.disableAddLoginNotification}}</label>
                    <input id="notification-bar" type="checkbox" ng-model="disableAddLoginNotification"
                           ng-change="updateAddLoginNotification()">
                </div>
            </div>
            <div class="list-section-footer">
                {{i18n.addLoginNotificationDesc}}
            </div>
        </div>
        <div class="list-section">
            <div class="list-section-items">
                <div class="list-section-item list-section-item-checkbox">
                    <label for="context-menu">{{i18n.disableContextMenuItem}}</label>
                    <input id="context-menu" type="checkbox" ng-model="disableContextMenuItem"
                           ng-change="updateDisableContextMenuItem()">
                </div>
            </div>
            <div class="list-section-footer">
                {{i18n.disableContextMenuItemDesc}}
            </div>
        </div>
    </div>
</div>
