<form name="theForm" ng-submit="save()">
    <div class="header">
        <div class="left">
            <a ui-sref="home({animation: 'out-slide-down'})">{{i18n.close}}</a>
        </div>
        <div class="right">
            <button type="submit" class="btn btn-link">{{i18n.save}}</button>
        </div>
        <div class="title">{{i18n.settings}}</div>
    </div>
    <div class="content">
        <div class="list">
            <div class="list-section">
                <div class="list-section-header">
                    {{i18n.selfHostedEnvironment}}
                </div>
                <div class="list-section-items">
                    <div class="list-section-item">
                        <label for="baseUrl" class="item-label">{{i18n.baseUrl}}</label>
                        <input id="baseUrl" type="text" name="BaseUrl" ng-model="baseUrl"
                               placeholder="ex. https://bitwarden.company.com">
                    </div>
                </div>
                <div class="list-section-footer">
                    {{i18n.selfHostedEnvironmentFooter}}
                </div>
            </div>
            <div class="list-section">
                <div class="list-section-header">
                    {{i18n.customEnvironment}}
                </div>
                <div class="list-section-items">
                    <div class="list-section-item">
                        <label for="webVaultUrl" class="item-label">{{i18n.webVaultUrl}}</label>
                        <input id="webVaultUrl" type="text" name="WebVaultUrl" ng-model="webVaultUrl">
                    </div>
                    <div class="list-section-item">
                        <label for="apiUrl" class="item-label">{{i18n.apiUrl}}</label>
                        <input id="apiUrl" type="text" name="ApiUrl" ng-model="apiUrl">
                    </div>
                    <div class="list-section-item">
                        <label for="identityUrl" class="item-label">{{i18n.identityUrl}}</label>
                        <input id="identityUrl" type="text" name="IdentityUrl" ng-model="identityUrl">
                    </div>
                    <div class="list-section-item">
                        <label for="iconsUrl" class="item-label">{{i18n.iconsUrl}}</label>
                        <input id="iconsUrl" type="text" name="IconsUrl" ng-model="iconsUrl">
                    </div>
                </div>
                <div class="list-section-footer">
                    {{i18n.customEnvironmentFooter}}
                </div>
            </div>
        </div>
    </div>
</form>
