<div class="header">
    <div class="title">Settings</div>
</div>
<div class="content content-tabs">
    <div class="list">
        <div class="list-section">
            <div class="list-section-header">
                Manage
            </div>
            <div class="list-section-items">
                <a class="list-section-item" href="#">
                    Folders
                </a>
                <a class="list-section-item" href="#" ng-click="sync()">
                    Sync
                </a>
            </div>
        </div>
        <div class="list-section">
            <div class="list-section-header">
                Current Session
            </div>
            <div class="list-section-items">
                <a class="list-section-item" href="#">
                    Lock
                </a>
                <a class="list-section-item" href="#" ng-click="logOut()">
                    Log out
                </a>
            </div>
            <div class="list-section-footer">
                This is a footer note.
            </div>
        </div>
    </div>
</div>
