<div class="header">
    <div class="left">
        <a ui-sref="tabs.settings({animation: 'out-slide-right'})"><i class="fa fa-chevron-left"></i> {{i18n.settings}}</a>
    </div>
    <div class="title">{{i18n.premiumMembership}}</div>
</div>
<div class="content">
    <div class="premium-page">
        <div ng-if="!isPremium">
            <p class="text-center lead">{{i18n.premiumNotCurrentMember}}</p>
            <p>{{i18n.premiumSignUpAndGet}}</p>
            <ul class="fa-ul">
                <li>
                    <i class="fa-li fa fa-check text-success"></i>
                   {{i18n.ppremiumSignUpStorage}}
                </li>
                <li>
                    <i class="fa-li fa fa-check text-success"></i>
                    {{i18n.ppremiumSignUpTwoStep}}
                </li>
                <li>
                    <i class="fa-li fa fa-check text-success"></i>
                    T{{i18n.ppremiumSignUpTotp}}
                </li>
                <li>
                    <i class="fa-li fa fa-check text-success"></i>
                    {{i18n.ppremiumSignUpSupport}}
                </li>
                <li>
                    <i class="fa-li fa fa-check text-success"></i>
                    {{i18n.ppremiumSignUpFuture}}
                </li>
            </ul>
            <p class="text-center lead">{{i18n.premiumPrice.replace('%price%', price)}}</p>
            <div class="bottom-buttons">
                <a class="btn btn-lg btn-primary btn-block" href="#" stop-click ng-click="purchase()">
                    <b>{{i18n.premiumPurchase}}</b>
                </a>
                <a class="btn btn-lg btn-link btn-block" href="#" stop-click ng-click="refresh()">
                    {{i18n.premiumRefresh}}
                </a>
            </div>
        </div>
        <div ng-if="isPremium">
            <p class="text-center lead">{{i18n.premiumCurrentMember}}</p>
            <p class="text-center">{{i18n.premiumCurrentMemberThanks}}</p>
            <div class="bottom-buttons">
                <a class="btn btn-lg btn-primary btn-block" href="#" stop-click ng-click="manage()">
                    <b>{{i18n.premiumManage}}</b>
                </a>
            </div>
        </div>
    </div>
</div>
