<div class="header">
    <div class="left">
        <a ui-sref="tabs.settings({animation: 'out-slide-right'})"><i class="fa fa-chevron-left"></i> Settings</a>
    </div>
    <div class="title">Sync</div>
</div>
<div class="content">
    <div class="centered-message">
        <p style="margin-top: -50px;">
            <a href="" class="btn btn-lg btn-link btn-block" ng-click="sync()">
                Sync Vault Now
            </a>
            <small class="text-muted">Last Sync: {{lastSync}}</small>
        </p>
    </div>
</div>
