<form name="theForm" ng-submit="save(folder)" bit-form="savePromise">
    <div class="header">
        <div class="left">
            <a ui-sref="folders({animation: 'out-slide-down'})">{{ i18n.cancel }}</a>
        </div>
        <div class="right">
            <button type="submit" class="btn btn-link" ng-show="!theForm.$loading">{{ i18n.save }}</button>
            <i class="fa fa-spinner fa-lg" ng-show="theForm.$loading" ng-class="{'fa-spin' : theForm.$loading}"></i>
        </div>
        <div class="title">{{ i18n.addFolder }}</div>
    </div>
    <div class="content">
        <div class="list">
            <div class="list-section">
                <div class="list-section-items">
                    <div class="list-section-item">
                        <label for="name" class="item-label">{{ i18n.name }}</label>
                        <input id="name" type="text" name="Name" ng-model="folder.name">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
