<div class="header">
    <div class="left">
        <pop-out></pop-out>
    </div>
    <div class="title">{{i18n.settings}}</div>
</div>
<div class="content content-tabs">
    <div class="list">
        <div class="list-section">
            <div class="list-section-header">
                {{i18n.security}}
            </div>
            <div class="list-section-items">
                <div class="list-section-item">
                    <label for="lock-option" class="item-label">{{i18n.lockOptions}}</label>
                    <select id="lock-option" name="LockOption" ng-model="lockOption" ng-change="changeLockOption()">
                        <option value="0">{{i18n.immediately}}</option>
                        <option value="1">{{i18n.oneMinute}}</option>
                        <option value="5">{{i18n.fiveMinutes}}</option>
                        <option value="15">{{i18n.fifteenMinutes}}</option>
                        <option value="30">{{i18n.thirtyMinutes}}</option>
                        <option value="60">{{i18n.oneHour}}</option>
                        <option value="240">{{i18n.fourHours}}</option>
                        <option value="-2" ng-if="showOnLocked">{{i18n.onLocked}}</option>
                        <option value="-1">{{i18n.onRestart}}</option>
                        <option value="">{{i18n.never}}</option>
                    </select>
                </div>
                <a class="list-section-item" href="" ng-click="lock()">
                    {{i18n.lockNow}}
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
                <a class="list-section-item" href="" ng-click="twoStep()">
                    {{i18n.twoStepLogin}}
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
            </div>
        </div>
        <div class="list-section">
            <div class="list-section-header">
                {{i18n.account}}
            </div>
            <div class="list-section-items">
                <a class="list-section-item text-primary" ui-sref="premium({animation: 'in-slide-left'})">
                    <i class="fa fa-star fa-fw"></i> <b>{{i18n.premiumMembership}}</b>
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
                <a class="list-section-item" href="" ng-click="changePassword()">
                    {{i18n.changeMasterPassword}}
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
                <a class="list-section-item" href="" ng-click="changeEmail()">
                    {{i18n.changeEmail}}
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
                <a class="list-section-item" href="" ng-click="logOut()">
                    {{i18n.logOut}}
                </a>
            </div>
        </div>
        <div class="list-section">
            <div class="list-section-header">
                {{i18n.manage}}
            </div>
            <div class="list-section-items">
                <a class="list-section-item" ui-sref="folders({animation: 'in-slide-left'})">
                    {{i18n.folders}}
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
                <a class="list-section-item" ui-sref="sync({animation: 'in-slide-left'})">
                    {{i18n.sync}}
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
            </div>
        </div>
        <div class="list-section">
            <div class="list-section-header">
                {{i18n.other}}
            </div>
            <div class="list-section-items">
                <a class="list-section-item" ui-sref="features({animation: 'in-slide-left'})">
                    {{i18n.features}}
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
                <a class="list-section-item" ui-sref="about({animation: 'in-slide-left'})">
                    {{i18n.about}}
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
                <a class="list-section-item" ui-sref="help({animation: 'in-slide-left'})">
                    {{i18n.helpFeedback}}
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
                <a class="list-section-item" href="" ng-click="rate()">
                    {{i18n.rateExtension}}
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
            </div>
            <div class="list-section-footer">
                {{i18n.rateExtensionDesc}}
            </div>
        </div>
    </div>
</div>
