<div class="header">
    <div class="left">
        <a ui-sref="tabs.settings({animation: 'out-slide-right'})"><i class="fa fa-chevron-left"></i> {{i18n.settings}}</a>
    </div>
    <div class="title">{{i18n.helpFeedback}}</div>
</div>
<div class="content">
    <div class="list">
        <div class="list-section">
            <div class="list-section-items">
                <a class="list-section-item" href="" ng-click="email()">
                    {{i18n.emailUs}}
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
            </div>
            <div class="list-section-footer">
                {{i18n.emailUsDirectly}}
            </div>
        </div>
        <div class="list-section">
            <div class="list-section-items">
                <a class="list-section-item" href="" ng-click="website()">
                    {{i18n.visitOurWebsite}}
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
            </div>
            <div class="list-section-footer">
                {{i18n.visitOurWebsiteDirectly}}
            </div>
        </div>
        <div class="list-section">
            <div class="list-section-items">
                <a class="list-section-item" href="" ng-click="tutorial()">
                    {{i18n.gettingStartedTutorial}}
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
            </div>
            <div class="list-section-footer">
                {{i18n.gettingStartedTutorialVideo}}
            </div>
        </div>
        <div class="list-section">
            <div class="list-section-items">
                <a class="list-section-item" href="" ng-click="bug()">
                    {{i18n.fileBugReport}}
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
            </div>
            <div class="list-section-footer">
                {{i18n.gitHubIssue}}
            </div>
        </div>
    </div>
</div>
