<div class="header">
    <div class="title">Settings</div>
</div>
<div class="content content-tabs">
    <div class="list">
        <div class="list-section">
            <div class="list-section-header">
                Account
            </div>
            <div class="list-section-items">
                <a class="list-section-item" href="" ng-click="changePassword()">
                    Change Master Password
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
                <a class="list-section-item" href="" ng-click="changeEmail()">
                    Change Email
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
                <a class="list-section-item" href="" ng-click="twoStep()">
                    Two-step Login
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
                <a class="list-section-item" href="" ng-click="logOut()">
                    Log Out
                </a>
            </div>
        </div>
        <div class="list-section">
            <div class="list-section-header">
                Manage
            </div>
            <div class="list-section-items">
                <a class="list-section-item" ui-sref="folders({animation: 'in-slide-left'})">
                    Folders
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
                <a class="list-section-item" href="" ng-click="sync()">
                    Sync
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
            </div>
        </div>
        <div class="list-section">
            <div class="list-section-header">
                Other
            </div>
            <div class="list-section-items">
                <a class="list-section-item" ui-sref="about({animation: 'in-slide-left'})">
                    About
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
                <a class="list-section-item" ui-sref="help({animation: 'in-slide-left'})">
                    Help &amp; Feedback
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
                <!-- TODO: Add back once we know proper URLs for rating.
                <a class="list-section-item" href="" ng-click="rate()">
                    Rate the Extension
                    <i class="fa fa-chevron-right fa-lg"></i>
                </a>
                 -->
            </div>
            <!--
            <div class="list-section-footer">
                Please consider helping us out with a good review!
            </div>
            -->
        </div>
    </div>
</div>
