<div class="header">
    <div class="left">
        <a ui-sref="tabs.settings({animation: 'out-slide-right'})"><i class="fa fa-chevron-left"></i> {{i18n.settings}}</a>
    </div>
    <div class="right">
        <a ui-sref="addFolder({animation: 'in-slide-up'})"><i class="fa fa-plus fa-lg"></i></a>
    </div>
    <div class="title">{{i18n.folders}}</div>
</div>
<div class="content">
    <div ng-if="folders.length">
        <div class="list">
            <div class="list-grouped">
                <a href="" ng-click="editFolder(folder)" class="list-grouped-item"
                   ng-repeat="folder in theFolders = (folders | orderBy: ['name'])">
                    <span class="text">{{folder.name}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="centered-message" ng-if="loaded && !folders.length">
        <p>
            {{i18n.noFolders}}
            <a ui-sref="addFolder({animation: 'in-slide-up'})" style="margin-top: 20px;"
               class="btn btn-link btn-block">{{i18n.addFolder}}</a>
        </p>
    </div>
    <div class="page-loading" ng-if="!loaded">
        <i class="fa fa-lg fa-spinner fa-spin"></i>
    </div>
</div>
