<div class="header">
    <div class="title">{{ i18n.tools }}</div>
</div>
<div class="content content-tabs">
    <div class="list">
        <div class="list-section">
            <div class="list-section-items">
                <a class="list-section-item wrap" href="" ui-sref="passwordGenerator({animation: 'in-slide-up'})">
                    <span class="leading-icon" style="color: #eba776;"><i class="fa fa-refresh fa-fw"></i></span>
                    <span class="text">{{ i18n.passGen }}</span>
                    <span class="detail">{{ i18n.passGenInfo }}</span>
                </a>
                <a class="list-section-item wrap" href="" ng-click="launchWebVault()">
                    <span class="leading-icon" style="color: #5bb630;"><i class="fa fa-globe fa-fw"></i></span>
                    <span class="text">{{ i18n.bitWebVault }}</span>
                    <span class="detail">{{ i18n.bitWebVaultInfo }}</span>
                </a>
                <a class="list-section-item wrap" href="" ng-click="launchiOS()">
                    <span class="leading-icon" style="color: #999999;"><i class="fa fa-apple fa-fw"></i></span>
                    <span class="text">{{ i18n.bitIosVault }}</span>
                    <span class="detail">{{ i18n.bitIosVaultInfo }}</span>
                </a>
                <a class="list-section-item wrap" href="" ng-click="launchAndroid()">
                    <span class="leading-icon" style="color: #a4c639;"><i class="fa fa-android fa-fw"></i></span>
                    <span class="text">{{ i18n.bitAndrVault }}</span>
                    <span class="detail">{{ i18n.bitAndrVaultInfo }}</span>
                </a>
                <a class="list-section-item wrap" href="" ng-click="launchImport()">
                    <span class="leading-icon" style="color: #6fc2ff;"><i class="fa fa-cloud-upload fa-fw"></i></span>
                    <span class="text">{{ i18n.importLogins }}</span>
                    <span class="detail">{{ i18n.importLoginsInfo }}</span>
                </a>
            </div>
        </div>
    </div>
</div>
