<div class="header">
    <div class="left">
        <a ng-click="close()" href="">Close</a>
    </div>
    <div class="right">
        <a ng-click="select()" ng-show="showSelect" href="">{{ i18n.select }}</a>
    </div>
    <div class="title">{{ i18n.generatePassword }}</div>
</div>
<div class="content">
    <div class="generate-password-block" id="generated-password">
        {{password}}
    </div>
    <div class="list" style="margin-top: 0;">
        <div class="list-section" style="padding-top: 0;">
            <div class="list-section-items">
                <a class="list-section-item text-primary" href="" ng-click="regenerate(true)">
                    {{ i18n.regeneratePassword }}
                </a>
                <a class="list-section-item text-primary" href="" ngclipboard ngclipboard-error="clipboardError(e)"
                   ngclipboard-success="clipboardSuccess(e)" data-clipboard-target="#generated-password">
                    {{ i18n.copyPassword }}
                </a>
            </div>
        </div>
        <div class="list-section">
            <div class="list-section-header">
                {{ i18n.options }}
            </div>
            <div class="list-section-items">
                <div class="list-section-item list-section-item-slider">
                    <label for="length">{{ i18n.length }}</label>
                    <span class="slider-value">{{slider.value}}</span>
                    <rzslider rz-slider-model="slider.value"
                              rz-slider-options="slider.options"></rzslider>
                </div>
                <div class="list-section-item list-section-item-checkbox">
                    <label for="uppercase">A-Z</label>
                    <input id="uppercase" type="checkbox" ng-model="options.uppercase" ng-change="saveOptions(options)">
                </div>
                <div class="list-section-item list-section-item-checkbox">
                    <label for="lowercase">a-z</label>
                    <input id="lowercase" type="checkbox" ng-model="options.lowercase" ng-change="saveOptions(options)">
                </div>
                <div class="list-section-item list-section-item-checkbox">
                    <label for="numbers">0-9</label>
                    <input id="numbers" type="checkbox" ng-model="options.number" ng-change="saveOptions(options)">
                </div>
                <div class="list-section-item list-section-item-checkbox">
                    <label for="special">!@#$%^&*</label>
                    <input id="special" type="checkbox" ng-model="options.special" ng-change="saveOptions(options)">
                </div>
            </div>
        </div>
        <div class="list-section">
            <div class="list-section-items">
                <div class="list-section-item list-section-item-input">
                    <label for="min-numbers">{{ i18n.minNumbers }}</label>
                    <input id="min-numbers" type="number" min="0" max="5" ng-model="options.minNumber"
                           ng-change="saveOptions(options)">
                </div>
                <div class="list-section-item list-section-item-input">
                    <label for="min-special">{{ i18n.minSpecial</label>
                    <input id="min-special" type="number" min="0" max="5" ng-model="options.minSpecial"
                           ng-change="saveOptions(options)">
                </div>
            </div>
        </div>
        <div class="list-section">
            <div class="list-section-items">
                <div class="list-section-item list-section-item-checkbox">
                    <label for="ambiguous">{{ i18n.avoidAmbChar }}</label>
                    <input id="ambiguous" type="checkbox" ng-model="options.ambiguous" ng-change="saveOptions(options)">
                </div>
            </div>
        </div>
    </div>
</div>
