<div class="header">
    <div class="left">
        <a href="" ng-click="main.expandVault()"><i class="fa fa-external-link fa-rotate-270 fa-lg"></i></a>
    </div>
    <div class="title">{{$ctrl.i18n.tools}}</div>
</div>
<div class="content content-tabs">
    <div class="list">
        <div class="list-section">
            <div class="list-section-items">
                <a class="list-section-item wrap" ui-sref="passwordGenerator({animation: 'in-slide-up'})">
                    <span class="leading-icon" style="color: #eba776;"><i class="fa fa-refresh fa-fw"></i></span>
                    <span class="text">{{$ctrl.i18n.passGen}}</span>
                    <span class="detail">{{$ctrl.i18n.passGenInfo}}</span>
                </a>
                <a class="list-section-item wrap" href="" ng-click="$ctrl.launchWebVault()">
                    <span class="leading-icon" style="color: #5bb630;"><i class="fa fa-globe fa-fw"></i></span>
                    <span class="text">{{$ctrl.i18n.bitWebVault}}</span>
                    <span class="detail">{{$ctrl.i18n.bitWebVaultInfo}}</span>
                </a>
                <a class="list-section-item wrap" href="" ng-click="$ctrl.launchiOS()">
                    <span class="leading-icon" style="color: #999999;"><i class="fa fa-apple fa-fw"></i></span>
                    <span class="text">{{$ctrl.i18n.bitIosVault}}</span>
                    <span class="detail">{{$ctrl.i18n.bitIosVaultInfo}}</span>
                </a>
                <a class="list-section-item wrap" href="" ng-click="$ctrl.launchAndroid()">
                    <span class="leading-icon" style="color: #a4c639;"><i class="fa fa-android fa-fw"></i></span>
                    <span class="text">{{$ctrl.i18n.bitAndrVault}}</span>
                    <span class="detail">{{$ctrl.i18n.bitAndrVaultInfo}}</span>
                </a>
                <a class="list-section-item wrap" href="" ng-click="$ctrl.launchWebVault(true)">
                    <span class="leading-icon" style="color: #8977af;"><i class="fa fa-share-alt fa-fw"></i></span>
                    <span class="text">{{$ctrl.i18n.shareVault}}</span>
                    <span class="detail">{{$ctrl.i18n.shareVaultInfo}}</span>
                </a>
                <a class="list-section-item wrap" href="" ng-click="$ctrl.launchImport()">
                    <span class="leading-icon" style="color: #6fc2ff;"><i class="fa fa-cloud-upload fa-fw"></i></span>
                    <span class="text">{{$ctrl.i18n.importItems}}</span>
                    <span class="detail">{{$ctrl.i18n.importItemsInfo}}</span>
                </a>
                <a class="list-section-item wrap" ui-sref="export({animation: 'in-slide-up'})" ng-if="showExport">
                    <span class="leading-icon" style="color: #ff6f6f;"><i class="fa fa-cloud-download fa-fw"></i></span>
                    <span class="text">{{$ctrl.i18n.exportVault}}</span>
                    <span class="detail">{{$ctrl.i18n.exportVaultInfo}}</span>
                </a>
            </div>
        </div>
    </div>
</div>
