<form #form (ngSubmit)="submit()" [appApiAction]="formPromise">
    <header>
        <div class="left">
            <a routerLink="/home">{{'cancel' | i18n}}</a>
        </div>
        <div class="center">
            <span class="title">{{'createAccount' | i18n}}</span>
        </div>
        <div class="right">
            <button type="submit" appBlurClick [disabled]="form.loading">
                <span [hidden]="form.loading">{{'submit' | i18n}}</span>
                <i class="fa fa-spinner fa-lg fa-spin" [hidden]="!form.loading"></i>
            </button>
        </div>
    </header>
    <content>
        <div class="box">
            <div class="box-content">
                <div class="box-content-row" appBoxRow>
                    <label for="email">{{'emailAddress' | i18n}}</label>
                    <input id="email" type="text" name="Email" [(ngModel)]="email" required
                           [appAutofocus]="email === ''" inputmode="email" appInputVerbatim="false">
                </div>
                <div class="box-content-row box-content-row-flex" appBoxRow>
                    <div class="row-main">
                        <label for="masterPassword">{{'masterPass' | i18n}}</label>
                        <input id="masterPassword" type="{{showPassword ? 'text' : 'password'}}" name="MasterPassword"
                               class="monospaced" [(ngModel)]="masterPassword" required [appAutofocus]="email !== ''"
                               appInputVerbatim>
                    </div>
                    <div class="action-buttons">
                        <a class="row-btn" href="#" appStopClick appBlurClick
                           title="{{'toggleVisibility' | i18n}}" (click)="togglePassword(false)">
                            <i class="fa fa-lg"
                               [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                {{'masterPassDesc' | i18n}}
            </div>
        </div>
        <div class="box last">
            <div class="box-content">
                <div class="box-content-row box-content-row-flex" appBoxRow>
                    <div class="row-main">
                        <label for="masterPasswordRetype">{{'reTypeMasterPass' | i18n}}</label>
                        <input id="masterPasswordRetype" type="{{showPassword ? 'text' : 'password'}}"
                               name="MasterPasswordRetype" class="monospaced" [(ngModel)]="confirmMasterPassword"
                               required appInputVerbatim>
                    </div>
                    <div class="action-buttons">
                        <a class="row-btn" href="#" appStopClick appBlurClick
                           title="{{'toggleVisibility' | i18n}}" (click)="togglePassword(true)">
                            <i class="fa fa-lg"
                               [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content-row" appBoxRow>
                    <label for="hint">{{'masterPassHint' | i18n}}</label>
                    <input id="hint" type="text" name="Hint" [(ngModel)]="hint">
                </div>
            </div>
            <div class="box-footer">
                {{'masterPassHintDesc' | i18n}}
            </div>
        </div>
    </content>
</form>
