<ng-container *ngIf="send">
    <form (ngSubmit)="submit()" [appApiAction]="formPromise">
        <div class="content" *ngIf="send">
            <div class="inner-content">
                <div class="box">
                    <div class="box-header">
                        {{'editSend' | i18n}}
                    </div>
                    <div class="box-content">
                        <div class="box-content-row" appBoxRow>
                            <label for="name">{{'name' | i18n}}</label>
                            <input id="name" type="text" name="Name" [(ngModel)]="send.name" appAutofocus>
                        </div>
                        <div class="box-content-row" appBoxRow *ngIf="send.type === sendType.File">
                            <label for="file">{{'file' | i18n}}</label>
                            <input id="file" type="text" name="file" [(ngModel)]="send.file.fileName" readonly>
                        </div>
                        <div class="box-content-row" appBoxRow *ngIf="send.type === sendType.Text">
                            <label for="text">{{'text' | i18n}}</label>
                            <input id="text" type="text" name="text" [(ngModel)]="send.text.text">
                        </div>
                        <div class="box-content-row box-content-row-checkbox" appBoxRow *ngIf="send.type === sendType.Text">
                            <label for="hideText">{{'textHiddenByDefault' | i18n}}</label>
                            <input id="hideText" name="hideText" type="checkbox" [(ngModel)]="send.text.hidden">
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-header">
                        {{'options' | i18n}}
                    </div>
                    <div class="box-content">
                        <div class="box-content-row" appBoxRow *ngIf="editMode">
                            <label for="deletionDate">{{'deletionDate' | i18n}}</label>
                            <input id="deletionDate" type="datetime-local" name="deletionDate"
                                [(ngModel)]="deletionDate" required placeholder="MM/DD/YYYY HH:MM AM/PM">
                            <div class="subtext">{{'deletionDateDesc' | i18n}}</div>
                        </div>
                        <div class="box-content-row" appBoxRow>
                            <label for="expirationDate">{{'expirationDate' | i18n}}</label>
                            <input id="expirationDate" type="datetime-local" name="expirationDate" [(ngModel)]="expirationDate">
                            <div class="subtext">{{'expirationDateDesc' | i18n}}</div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-content">
                        <div class="box-content-row" appBoxRow>
                            <label for="maxAccessCount">{{'maxAccessCount' | i18n}}</label>
                            <input id="maxAccessCount" type="number" name="maxAccessCount" [(ngModel)]="send.maxAccessCount">
                            <div class="subtext">{{'maxAccessCountDesc' | i18n}}</div>
                        </div>
                        <div class="box-content-row" appBoxRow>
                            <label for="accessCount">{{'currentAccessCount' | i18n}}</label>
                            <input id="accessCount" type="text" name="accessCount" [(ngModel)]="send.accessCount" readonly>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-content">
                        <div class="box-content-row" appBoxRow>
                            <label for="password">{{(hasPassword ? 'newPassword' : 'password') | i18n}}</label>
                            <input id="password" type="password" name="password" [(ngModel)]="password">
                            <div class="subtext">{{'sendPasswordDesc' | i18n}}</div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-header">
                        {{'notes' | i18n}}
                    </div>
                    <div class="box-content">
                        <div class="box-content-row" appBoxRow>
                            <textarea id="notes" name="notes" [(ngModel)]="send.notes" rows="6"></textarea>
                            <small class="subtext">{{'sendNotesDesc' | i18n}}</small>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-content">
                        <div class="box-content-row box-content-row-checkbox" appBoxRow>
                            <label for="disabled">{{'disableSend' | i18n}}</label>
                            <input id="disabled" type="checkbox" name="disabled" [(ngModel)]="send.disabled">
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-header">
                        {{'share' | i18n}}
                    </div>
                    <div class="box-content">
                        <div class="box-content-row" appBoxRow>
                            <label for="url">{{'sendLink' | i18n}}</label>
                            <input id="url" name="url" [ngModel]="link" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <button appBlurClick type="submit" class="primary" appA11yTitle="{{'save' | i18n}}">
                <i class="fa fa-save fa-lg fa-fw" aria-hidden="true"></i>
            </button>
        </div>
    </form>
</ng-container>
