<form (ngSubmit)="submit()" [appApiAction]="formPromise">
    <div class="content">
        <div class="inner-content" *ngIf="send">
            <div class="box">
                <div class="box-header">
                    {{title}}
                </div>
                <div class="box-content">
                    <div class="box-content-row" appBoxRow>
                        <label for="name">{{'name' | i18n}}</label>
                        <input id="name" type="text" name="Name" [(ngModel)]="send.name" appAutofocus>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <ng-container *ngIf="!editMode">
                        <div class="box-content-row box-content-row-radio">
                            <label class="radio-header">{{'whatTypeOfSend' | i18n}}</label>
                            <div class="item" *ngFor="let o of typeOptions">
                                <input type="radio" class="radio" [(ngModel)]="send.type" name="Type_{{o.value}}"
                                    id="type_{{o.value}}" [value]="o.value" (change)="typeChanged(o)"
                                    [checked]="send.type === o.value">
                                <label class="label-hack" for="type_{{o.value}}">
                                    {{o.name}}
                                </label>
                            </div>
                        </div>
                        <div *ngIf="send.type === sendType.File" class="box-content-row" appBowRow>
                            <label for="file">{{'file' | i18n}}</label>
                            <input type="file" id="file" class="form-control-file" name="file" required
                                [disabled]="disableSend">
                            <div class="subtext">{{'sendFileDesc' | i18n}} {{'maxFileSize' | i18n}}</div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="editMode && send.type === sendType.File">
                        <div class="box-content-row" appBoxRow>
                            <label for="file">{{'file' | i18n}}</label>
                            <input id="file" type="text" name="file" [(ngModel)]="send.file.fileName" readonly>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="send.type === sendType.Text">
                        <div class="box-content-row" appBoxRow *ngIf="send.type === sendType.Text">
                            <label for="text">{{'text' | i18n}}</label>
                            <textarea id="text" name="text" [(ngModel)]="send.text.text" rows="6"></textarea>
                            <div class="subtext">{{'sendTextDesc' | i18n}}</div>
                        </div>
                        <div class="box-content-row box-content-row-checkbox" appBoxRow *ngIf="send.type === sendType.Text">
                            <label for="hideText">{{'textHiddenByDefault' | i18n}}</label>
                            <input id="hideText" name="hideText" type="checkbox" [(ngModel)]="send.text.hidden">
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="box">
                <div class="box-header">
                    {{'options' | i18n}}
                </div>
                <div class="box-content">
                    <div class="box-content-row" appBoxRow>
                        <label for="deletionDate">{{'deletionDate' | i18n}}</label>
                        <input id="deletionDate" type="datetime-local" name="deletionDate"
                            [(ngModel)]="deletionDate" required placeholder="MM/DD/YYYY HH:MM AM/PM" *ngIf="editMode">
                        <select id="deletionDate" name="DeletionDateSelect" [(ngModel)]="deletionDateSelect" required *ngIf="!editMode">
                            <option *ngFor="let o of deletionDateOptions" [ngValue]="o.value">{{o.name}}
                            </option>
                        </select>
                        <div class="subtext">{{'deletionDateDesc' | i18n}}</div>
                    </div>
                    <div class="box-content-row" *ngIf="deletionDateSelect === 0 && !editMode">
                        <input id="deletionDateCustom" type="datetime-local" name="deletionDate" 
                            [(ngModel)]="deletionDate" required placeholder="MM/DD/YYYY HH:MM AM/PM" [readOnly]="disableSend">
                    </div>
                    <div class="box-content-row" appBoxRow>
                        <label for="expirationDate">{{'expirationDate' | i18n}}</label>
                        <input id="expirationDate" type="datetime-local" name="expirationDate" [(ngModel)]="expirationDate" *ngIf="editMode">
                        <select id="expirationDate" name="expirationDateSelect" [(ngModel)]="expirationDateSelect" required *ngIf="!editMode">
                            <option *ngFor="let o of expirationDateOptions" [ngValue]="o.value">{{o.name}}
                            </option>
                        </select>
                        <div class="subtext">{{'expirationDateDesc' | i18n}}</div>
                    </div>
                    <div class="box-content-row" *ngIf="expirationDateSelect === 0 && !editMode">
                        <input id="expirationDateCustom" type="datetime-local" name="expirationDate" 
                            [(ngModel)]="expirationDate" required placeholder="MM/DD/YYYY HH:MM AM/PM" [readOnly]="disableSend">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <div class="box-content-row" appBoxRow>
                        <label for="maxAccessCount">{{'maxAccessCount' | i18n}}</label>
                        <input id="maxAccessCount" type="number" name="maxAccessCount" [(ngModel)]="send.maxAccessCount">
                        <div class="subtext">{{'maxAccessCountDesc' | i18n}}</div>
                    </div>
                    <div *ngIf="editMode" class="box-content-row" appBoxRow>
                        <label for="accessCount">{{'currentAccessCount' | i18n}}</label>
                        <input id="accessCount" type="text" name="accessCount" [(ngModel)]="send.accessCount" readonly>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <div class="box-content-row" appBoxRow>
                        <label for="password">{{(hasPassword ? 'newPassword' : 'password') | i18n}}</label>
                        <input id="password" type="password" name="password" [(ngModel)]="password">
                        <div class="subtext">{{'sendPasswordDesc' | i18n}}</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-header">
                    {{'notes' | i18n}}
                </div>
                <div class="box-content">
                    <div class="box-content-row" appBoxRow>
                        <textarea id="notes" name="notes" [(ngModel)]="send.notes" rows="6"></textarea>
                        <small class="subtext">{{'sendNotesDesc' | i18n}}</small>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <div class="box-content-row box-content-row-checkbox" appBoxRow>
                        <label for="disabled">{{'disableSend' | i18n}}</label>
                        <input id="disabled" type="checkbox" name="disabled" [(ngModel)]="send.disabled">
                    </div>
                </div>
            </div>
            <div class="box" *ngIf="editMode">
                <div class="box-header">
                    {{'share' | i18n}}
                </div>
                <div class="box-content">
                    <div class="box-content-row" appBoxRow>
                        <label for="url">{{'sendLink' | i18n}}</label>
                        <input id="url" name="url" [ngModel]="link" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <button appBlurClick type="submit" class="primary" appA11yTitle="{{'save' | i18n}}">
            <i class="fa fa-save fa-lg fa-fw" aria-hidden="true"></i>
        </button>
        <button appBlurClick type="button" (click)="cancel()">
            {{'cancel' | i18n}}
        </button>
        <div class="right">
            <button #deleteBtn appBlurClick type="button" (click)="delete()" class="danger"
                appA11yTitle="{{'delete' | i18n}}" *ngIf="editMode" [disabled]="deleteBtn.loading"
                [appApiAction]="deletePromise">
                <i class="fa fa-trash-o fa-lg fa-fw" [hidden]="deleteBtn.loading" aria-hidden="true"></i>
                <i class="fa fa-spinner fa-spin fa-lg fa-fw" [hidden]="!deleteBtn.loading" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</form>
