<div class="header header-search">
    <div class="search">
        <input type="search" placeholder="{{searchPlaceholder || ('searchVault' | i18n)}}" id="search"
               [(ngModel)]="searchText" appAutofocus>
        <i class="fa fa-search"></i>
    </div>
</div>
<div class="content">
    <ng-container *ngIf="(ciphers | searchCiphers: searchText) as searchedCiphers">
        <div class="list" *ngIf="searchedCiphers.length > 0">
            <a *ngFor="let c of searchedCiphers" appStopClick (click)="selectCipher(c)"
               (contextmenu)="rightClickCipher(c)" href="#" title="{{'viewItem' | i18n}}"
               [ngClass]="{'active': c.id === activeCipherId}">
                <app-vault-icon [cipher]="c"></app-vault-icon>
                <span class="text">
                    {{c.name}}
                    <i class="fa fa-share-alt text-muted" *ngIf="c.organizationId"
                       title="{{'shared' | i18n}}"></i>
                    <i class="fa fa-paperclip text-muted" *ngIf="c.hasAttachments"
                       title="{{'attachments' | i18n}}"></i>
                </span>
                <span class="detail">{{c.subTitle}}</span>
            </a>
        </div>
        <div class="no-items" *ngIf="searchedCiphers.length === 0">
            <i class="fa fa-spinner fa-spin fa-3x" *ngIf="!loaded"></i>
            <ng-container *ngIf="loaded">
                <i class="fa fa-frown-o fa-4x"></i>
                <p>{{'noItemsInList' | i18n}}</p>
                <button (click)="addCipher()" class="btn block primary link">{{'addItem' | i18n}}</button>
            </ng-container>
        </div>
    </ng-container>
</div>
<div class="footer">
    <button appBlurClick (click)="addCipher()" (contextmenu)="addCipherOptions()"
            class="block primary" title="{{'addItem' | i18n}}">
        <i class="fa fa-plus fa-lg"></i>
    </button>
</div>
