<div class="modal fade" role="dialog" aria-modal="true" aria-labelledby="passwordGenHistoryTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="box">
                    <div class="box-header" id="passwordGenHistoryTitle">
                        {{ "passwordHistory" | i18n }}
                    </div>
                    <div class="box-content condensed">
                        <div class="box-content-row box-content-row-flex" *ngFor="let h of history">
                            <div class="row-main">
                                <div
                                    class="password-wrapper monospaced"
                                    appSelectCopy
                                    [innerHTML]="h.password | colorPassword"
                                ></div>
                                <span class="detail">{{ h.date | date: "medium" }}</span>
                            </div>
                            <div class="action-buttons">
                                <a
                                    class="row-btn"
                                    href="#"
                                    appStopClick
                                    appA11yTitle="{{ 'copyPassword' | i18n }}"
                                    (click)="copy(h.password)"
                                    role="button"
                                >
                                    <i class="fa fa-lg fa-clone" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content-row" *ngIf="!history.length">
                            {{ "noPasswordsInList" | i18n }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal">{{ "close" | i18n }}</button>
                <div class="right">
                    <button
                        appBlurClick
                        type="button"
                        (click)="clear()"
                        class="danger"
                        appA11yTitle="{{ 'clear' | i18n }}"
                    >
                        <i class="fa fa-trash-o fa-lg fa-fw" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
