<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="box">
                    <div class="box-header">
                        {{'passwordHistory' | i18n}}
                    </div>
                    <div class="box-content condensed">
                        <div class="box-content-row box-content-row-flex" *ngFor="let h of history">
                            <div class="row-main">
                                <div class="text password-wrapper monospaced" appFlexCopy
                                     [innerHTML]="h.password | colorPassword"></div>
                                <span class="detail">{{h.date | date:'medium'}}</span>
                            </div>
                            <div class="action-buttons">
                                <a class="row-btn" href="#" appStopClick title="{{'copyPassword' | i18n}}"
                                   (click)="copy(h.password)">
                                    <i class="fa fa-lg fa-clipboard"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content-row" *ngIf="!history.length">
                            {{'noPasswordsInList' | i18n}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal">{{'close' | i18n}}</button>
                <div class="right">
                    <button appBlurClick type="button" (click)="clear()" class="danger" title="{{'clear' | i18n}}">
                        <i class="fa fa-trash-o fa-lg fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
