<div class="modal fade" tabindex="-1" role="dialog" aria-modal="true" aria-labelledby="shareTitle">
    <div class="modal-dialog" role="document">
        <form class="modal-content" #form (ngSubmit)="submit()" [appApiAction]="formPromise">
            <div class="modal-body">
                <div class="box" *ngIf="organizations && organizations.length">
                    <div class="box-header">
                        {{'folders' | i18n}}
                    </div>
                    <div class="box-content" *ngIf="!collections || !collections.length">
                        {{'noFolderInList' | i18n}}
                    </div>
                    <div class="box-content" *ngIf="collections && collections.length">
                        <div class="box-content-row" appBoxRow>
                            <label for="folder">{{'folder' | i18n}}</label>
                            <select id="folder" name="FolderId" [(ngModel)]="selectedCollectionId" (change)="onSelectedCollectionChange()">
                                <option *ngFor="let collection of collections" [ngValue]="collection.id">{{collection.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="box-footer">
                        {{'shareDesc' | i18n}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button appBlurClick type="submit" class="primary" appA11yTitle="{{'save' | i18n}}"
                    [disabled]="form.loading || !canSave" *ngIf="organizations && organizations.length">
                    <i class="fa fa-save fa-lg fa-fw" [hidden]="form.loading" aria-hidden="true"></i>
                    <i class="fa fa-spinner fa-spin fa-lg fa-fw" [hidden]="!form.loading" aria-hidden="true"></i>
                </button>
                <button type="button" data-dismiss="modal">{{'cancel' | i18n}}</button>
            </div>
        </form>
    </div>
</div>
