<div id="vault">
    <app-vault-groupings id="groupings"
                         (onAllClicked)="clearGroupingFilters()"
                         (onFavoritesClicked)="filterFavorites()"
                         (onCipherTypeClicked)="filterCipherType($event)"
                         (onFolderClicked)="filterFolder($event.id)"
                         (onAddFolder)="addFolder()"
                         (onEditFolder)="editFolder($event.id)"
                         (onCollectionClicked)="filterCollection($event.id)">
    </app-vault-groupings>
    <app-vault-ciphers id="items"
                       [activeCipherId]="cipherId"
                       (onCipherClicked)="viewCipher($event)"
                       (onAddCipher)="addCipher($event)">
    </app-vault-ciphers>
    <app-vault-view id="details"
                    *ngIf="cipherId && action === 'view'"
                    [cipherId]="cipherId"
                    (onEditCipher)="editCipher($event)">
    </app-vault-view>
    <app-vault-add-edit id="details"
                        *ngIf="action === 'add' || action === 'edit'"
                        [folderId]="action === 'add' && folderId !== 'none' ? folderId : null"
                        [type]="action === 'add' ? addType : null"
                        [cipherId]="action === 'edit' ? cipherId : null"
                        (onSavedCipher)="savedCipher($event)"
                        (onDeletedCipher)="deletedCipher($event)"
                        (onEditAttachments)="editCipherAttachments($event)"
                        (onCancelled)="cancelledAddEdit($event)"
                        (onGeneratePassword)="openPasswordGenerator()">
    </app-vault-add-edit>
    <div id="logo" *ngIf="action !== 'add' && action !== 'edit' && action !== 'view'">
        <div class="content">
            <div class="inner-content">
                <img src="../../images/logo@2x.png" />
            </div>
        </div>
    </div>
    <ng-template #passwordGenerator></ng-template>
    <ng-template #attachments></ng-template>
    <ng-template #folderAddEdit></ng-template>
</div>
