<div id="vault">
    <!--
    <div id="nav">
        <ul class="top">
            <li><a href="#"><i class="fa fa-lg fa-lock"></i></a></li>
            <li><a href="#"><i class="fa fa-lg fa-undo-alt fa-flip-horizontal"></i></a></li>
            <li><a href="#"><i class="fa fa-lg fa-cog"></i></a></li>
        </ul>
        <ul class="bottom">
            <li><a href="#"><i class="fa fa-lg fa-user"></i></a></li>
        </ul>
    </div>
    -->
    <div id="categories">
        <div class="content">
            <ul>
                <li><a href="#"><i class="fa fa-fw fa-spinner"></i> All Items</a></li>
                <li><a href="#"><i class="fa fa-fw fa-star"></i> Favorites</a></li>
            </ul>
            <h2><i class="fa fa-tags"></i> Types</h2>
            <ul>
                <li><a href="#"><i class="fa fa-fw fa-globe"></i> Login</a></li>
                <li><a href="#"><i class="fa fa-fw fa-credit-card"></i> Card</a></li>
                <li><a href="#"><i class="fa fa-fw fa-id-card-o"></i> Identity</a></li>
                <li><a href="#"><i class="fa fa-fw fa-sticky-note-o"></i> Secure Note</a></li>
            </ul>
            <h2><i class="fa fa-folder"></i> Folders</h2>
            <ul>
                <li><a href="#"><i class="fa fa-fw fa-caret-right"></i> Folder 1</a></li>
                <li><a href="#"><i class="fa fa-fw fa-caret-right"></i> Folder 2</a></li>
            </ul>
            <h2><i class="fa fa-cubes"></i> Collections</h2>
            <ul>
                <li><a href="#"><i class="fa fa-fw fa-caret-right"></i> Collection 1</a></li>
                <li><a href="#"><i class="fa fa-fw fa-caret-right"></i> Collection 2</a></li>
            </ul>
        </div>
    </div>
    <div id="items">
        <div class="header header-search">
            <div class="search">
                <input type="search" placeholder="Search vault" id="search" />
                <i class="fa fa-search"></i>
            </div>
            <div class="right">
                <a href="" title="Add Item"><i class="fa fa-plus fa-lg"></i></a>
            </div>
        </div>
        <div class="content">
            <div class="list">
                <div class="list-section" style="padding-top: 0; padding-bottom: 0;">
                    <a href="#"
                       class="list-section-item condensed" title="View Item">
                        <span class="text">
                            Item 1
                            <i class="fa fa-share-alt text-muted"></i>
                            <i class="fa fa-paperclip text-muted"></i>
                        </span>
                        <span class="detail">Sub</span>
                    </a>
                    <a href="#"
                       class="list-section-item condensed" title="View Item">
                        <span class="text">
                            Item 1
                            <i class="fa fa-share-alt text-muted"></i>
                            <i class="fa fa-paperclip text-muted"></i>
                        </span>
                        <span class="detail">Sub</span>
                    </a>
                    <a href="#"
                       class="list-section-item condensed" title="View Item">
                        <span class="text">
                            Item 1
                            <i class="fa fa-share-alt text-muted"></i>
                            <i class="fa fa-paperclip text-muted"></i>
                        </span>
                        <span class="detail">Sub</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="details">
        <div class="content">
            <div>Something Something Something Something Something Something</div>
            <div>Something</div><div>Something</div><div>Something</div><div>Something</div>
            <div>Something</div><div>Something</div><div>Something</div><div>Something</div>
            <div>Something</div><div>Something</div><div>Something</div><div>Something</div>
            <div>Something</div><div>Something</div><div>Something</div><div>Something</div>
            <div>Something</div><div>Something</div><div>Something</div><div>Something</div>
            <div>Something</div><div>Something</div><div>Something</div><div>Something</div>
            <div>Something</div><div>Something</div><div>Something</div><div>Something</div>
            <div>Something</div><div>Something</div><div>Something</div><div>Something</div>
            <div>Something</div><div>Something</div><div>Something</div><div>Something</div>
            <div>Something</div><div>Something</div><div>Something</div><div>Something</div>
            <div>Something</div><div>Something</div><div>Something</div><div>Something</div>
            <div>Something</div><div>Something</div><div>Something</div><div>Something</div>
        </div>
        <div class="footer">
            Edit
        </div>
    </div>
</div>
