<div class="content">
    <div class="inner-content">
        <div class="box">
            <div class="box-header">
                Item Information
            </div>
            <div class="box-content">
                <div class="box-content-row">
                    <span class="row-label">Name</span>
                    Google
                </div>
                <div class="box-content-row">
                    <span class="row-label">URI</span>
                    https://google.com
                </div>
                <div class="box-content-row">
                    <span class="row-label">Username</span>
                    hello@bitwarden.com
                </div>
                <div class="box-content-row">
                    <span class="row-label">Password</span>
                    JKsiuhfLKJDOsudfhjksdfjk
                </div>
            </div>
            <div class="box-footer">
                Some footer information.
            </div>
        </div>
    </div>
</div>
<div class="footer">
    Edit
</div>
