<!DOCTYPE html>
<html lang="{{.Locale}}">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="./favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="./favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/site.webmanifest" crossOrigin="use-credentials">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#297EF2">
  <% if (__TARGET__ !== 'mobile') { %>
  <link rel="stylesheet" type="text/css" href="//{{.Domain}}/assets/fonts/fonts.css">
  <% } %>
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, viewport-fit=cover">
  <% _.forEach(htmlWebpackPlugin.files.css, function(file) { %>
      <link rel="stylesheet" href="<%- file %>">
  <% }); %>
  {{.ThemeCSS}}
  <% if (__TARGET__ === 'mobile') { %>
  <meta name="format-detection" content="telephone=no">
  <script src="cordova.js" defer></script>
  <% } else if (__STACK_ASSETS__) { %>
  {{.CozyBar}}
  <% } %>
</head>
<div
  role="application"
  id="cozy-app"
  data-cozy-token="{{.Token}}"
  data-cozy-domain="{{.Domain}}"
  data-cozy-locale="{{.Locale}}"
  data-cozy-app-name="{{.AppName}}"
  data-cozy-app-slug="{{.AppSlug}}"
  data-cozy-app-name-prefix="{{.AppNamePrefix}}"
  data-cozy-app-editor="{{.AppEditor}}"
  data-cozy-subdomain-type="{{.SubDomain}}"
  data-cozy-icon-path="{{.IconPath}}"
  data-cozy-flags="{{.Flags}}"
  data-cozy="{{.CozyData}}"
>
<% _.forEach(htmlWebpackPlugin.files.js, function(file) { %>
    <script src="<%- file %>"></script>
<% }); %>
