<form id="change-password-page" #form>
    <div class="content">
        <img class="logo-image" alt="Bitwarden">
        <p class="lead">{{'setMasterPassword' | i18n}}</p>
        <app-callout type="tip">{{'ssoCompleteRegistration' | i18n}}</app-callout>
        <app-callout type="info" *ngIf="enforcedPolicyOptions">
            {{'masterPasswordPolicyInEffect' | i18n}}
            <ul class="mb-0">
                <li *ngIf="enforcedPolicyOptions?.minComplexity > 0">
                    {{'policyInEffectMinComplexity' | i18n : getPasswordScoreAlertDisplay()}}
                </li>
                <li *ngIf="enforcedPolicyOptions?.minLength > 0">
                    {{'policyInEffectMinLength' | i18n : enforcedPolicyOptions?.minLength.toString()}}
                </li>
                <li *ngIf="enforcedPolicyOptions?.requireUpper">{{'policyInEffectUppercase' | i18n}}</li>
                <li *ngIf="enforcedPolicyOptions?.requireLower">{{'policyInEffectLowercase' | i18n}}</li>
                <li *ngIf="enforcedPolicyOptions?.requireNumbers">{{'policyInEffectNumbers' | i18n}}</li>
                <li *ngIf="enforcedPolicyOptions?.requireSpecial">{{'policyInEffectSpecial' | i18n : '!@#$%^&*'}}</li>
            </ul>
        </app-callout>

        <form #form (ngSubmit)="submit()" [appApiAction]="formPromise" ngNativeValidate autocomplete="off">
            <div class="box last">
                <div class="box-content">
                    <div class="box-content-row" appBoxRow>
                        <label for="newMasterPassword">{{'newMasterPass' | i18n}}</label>
                        <input id="newMasterPassword" type="password" name="NewMasterPasswordHash"
                            [(ngModel)]="newMasterPassword" (input)="updatePasswordStrength()" required appInputVerbatim
                            class="monospaced" autocomplete="new-password">
                        <app-password-strength [score]="masterPasswordScore" [showText]="true"></app-password-strength>
                    </div>
                </div>
                <div class="box-content">
                    <div class="box-content-row" appBoxRow>
                        <label for="confirmNewMasterPassword">{{'confirmNewMasterPass' | i18n}}</label>
                        <input id="confirmNewMasterPassword" type="password" name="ConfirmNewMasterPasswordHash"
                            class="monospaced" [(ngModel)]="confirmNewMasterPassword" required appInputVerbatim
                            autocomplete="new-password">
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button type="submit" class="btn primary block" [disabled]="form.loading">
                    <i *ngIf="form.loading" class="fa fa-spinner fa-spin" title="{{'loading' | i18n}}"
                        aria-hidden="true"></i>
                    <span>{{'setMasterPassword' | i18n}}</span>
                </button>
            </div>
        </form>
    </div>
</form>
