<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body form">
                <div class="box">
                    <div class="box-header">
                        {{'security' | i18n}}
                    </div>
                    <div class="box-content box-content-padded">
                        <div class="form-group">
                            <label for="lockOption">{{'lockOptions' | i18n}}</label>
                            <select id="lockOption" name="LockOption" [(ngModel)]="lockOption"
                                    (change)="saveLockOption()">
                                <option *ngFor="let o of lockOptions" [ngValue]="o.value">{{o.name}}</option>
                            </select>
                            <small class="help-block">{{'lockOptionsDesc' | i18n}}</small>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-header">
                        {{'options' | i18n}}
                    </div>
                    <div class="box-content box-content-padded">
                        <div class="form-group">
                            <div class="checkbox">
                                <label for="disableGa">
                                    <input id="disableGa" type="checkbox" name="DisableAnalytics"
                                           [(ngModel)]="disableGa" (change)="saveGa()">
                                    {{'disableGa' | i18n}}
                                </label>
                            </div>
                            <small class="help-block">{{'gaDesc' | i18n}}</small>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label for="disableFavicons">
                                    <input id="disableFavicons" type="checkbox" name="DisableFavicons"
                                           [(ngModel)]="disableFavicons" (change)="saveFavicons()">
                                    {{'disableFavicon' | i18n}}
                                </label>
                            </div>
                            <small class="help-block">{{'disableFaviconDesc' | i18n}}</small>
                        </div>
                        <div class="form-group">
                            <label for="locale">{{'language' | i18n}}</label>
                            <select id="locale" name="Locale" [(ngModel)]="locale" (change)="saveLocale()">
                                <option *ngFor="let o of localeOptions" [ngValue]="o.value">{{o.name}}</option>
                            </select>
                            <small class="help-block">{{'languageDesc' | i18n}}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal">{{'close' | i18n}}</button>
            </div>
        </div>
    </div>
</div>
