<form id="register-page" #form (ngSubmit)="submit()" [appApiAction]="formPromise">
    <div class="content">
        <h1>{{title}}</h1>
        <div class="box last">
            <div class="box-content">
                <div class="box-content-row" appBoxRow>
                    <label for="code">{{'verificationCode' | i18n}}</label>
                    <input id="code" type="text" name="Code" [(ngModel)]="token" required appAutofocus>
                </div>
                <div class="box-content-row box-content-row-checkbox" appBoxRow>
                    <label for="remember">{{'verificationCode' | i18n}}</label>
                    <input id="remember" type="checkbox" [(ngModel)]="remember">
                </div>
            </div>
        </div>
        <div class="buttons">
            <button type="submit" class="btn primary block" [disabled]="form.loading" appBlurClick>
                <span [hidden]="form.loading">{{'continue' | i18n}}</span>
                <i class="fa fa-spinner fa-spin" [hidden]="!form.loading"></i>
            </button>
            <a routerLink="/login" class="btn block">{{'cancel' | i18n}}</a>
        </div>
    </div>
</form>
