<form id="hint-page" #form (ngSubmit)="submit()" [appApiAction]="formPromise">
  <div class="content">
    <h1>{{ "passwordHint" | i18n }}</h1>
    <div class="box last">
      <div class="box-content">
        <div class="box-content-row" appBoxRow>
          <label for="email">{{ "emailAddress" | i18n }}</label>
          <input
            id="email"
            type="text"
            name="Email"
            [(ngModel)]="email"
            required
            appAutofocus
            appInputVerbatim
          />
        </div>
      </div>
      <div class="box-footer">
        {{ "enterEmailToGetHint" | i18n }}
      </div>
    </div>
    <div class="buttons">
      <button type="submit" class="btn primary block" [disabled]="form.loading">
        <b [hidden]="form.loading">{{ "submit" | i18n }}</b>
        <i class="bwi bwi-spinner bwi-spin" [hidden]="!form.loading" aria-hidden="true"></i>
      </button>
      <button type="button" routerLink="/login" class="btn block">{{ "cancel" | i18n }}</button>
    </div>
  </div>
</form>
