<div id="remove-password-page" *ngIf="!loading">
  <div class="content">
    <h1>{{ "removeMasterPassword" | i18n }}</h1>
    <p>{{ "convertOrganizationEncryptionDesc" | i18n: organization.name }}</p>
    <div class="buttons">
      <button
        type="submit"
        class="btn primary block"
        [disabled]="actionPromise"
        (click)="convert()"
      >
        <b [hidden]="continuing">{{ "removeMasterPassword" | i18n }}</b>
        <i class="bwi bwi-spinner bwi-spin" [hidden]="!continuing" aria-hidden="true"></i>
      </button>
      <button
        type="button"
        class="btn secondary block"
        [disabled]="actionPromise"
        (click)="leave()"
      >
        <b [hidden]="leaving">{{ "leaveOrganization" | i18n }}</b>
        <i class="bwi bwi-spinner bwi-spin" [hidden]="!leaving" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
