<form id="update-temp-password-page" #form (ngSubmit)="submit()" [appApiAction]="formPromise">
  <div class="content">
    <app-callout type="warning" title="{{ 'updateMasterPassword' | i18n }}">
      {{ "updateMasterPasswordWarning" | i18n }}
    </app-callout>
    <app-callout
      type="info"
      [enforcedPolicyOptions]="enforcedPolicyOptions"
      *ngIf="enforcedPolicyOptions"
    >
    </app-callout>
    <div class="box">
      <div class="box-content">
        <div class="box-content-row" appBoxRow>
          <div class="box-content-row-flex">
            <div class="row-main">
              <label for="masterPassword">
                {{ "masterPass" | i18n }}
                <strong
                  class="sub-label text-{{ masterPasswordScoreStyle.Color }}"
                  *ngIf="masterPasswordScoreStyle.Text"
                >
                  {{ masterPasswordScoreStyle.Text }}
                </strong>
              </label>
              <input
                id="masterPassword"
                type="{{ showPassword ? 'text' : 'password' }}"
                name="MasterPassword"
                class="monospaced"
                [(ngModel)]="masterPassword"
                required
                [appAutofocus]="masterPassword === ''"
                (input)="updatePasswordStrength()"
                appInputVerbatim
              />
            </div>
            <div class="action-buttons">
              <button
                type="button"
                class="row-btn"
                appStopClick
                appA11yTitle="{{ 'toggleVisibility' | i18n }}"
                [attr.aria-pressed]="showPassword"
                (click)="togglePassword(false)"
              >
                <i
                  class="bwi bwi-lg"
                  aria-hidden="true"
                  [ngClass]="{ 'bwi-eye': !showPassword, 'bwi-eye-slash': showPassword }"
                ></i>
              </button>
            </div>
          </div>
          <div class="progress">
            <div
              class="progress-bar bg-{{ masterPasswordScoreStyle.Color }}"
              role="progressbar"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
              [ngStyle]="{ width: masterPasswordScoreStyle.Width + '%' }"
              attr.aria-valuenow="{{ masterPasswordScoreStyle.Width }}"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="box-content">
        <div class="box-content-row box-content-row-flex" appBoxRow>
          <div class="row-main">
            <label for="masterPasswordRetype">{{ "reTypeMasterPass" | i18n }}</label>
            <input
              id="masterPasswordRetype"
              type="{{ showPassword ? 'text' : 'password' }}"
              name="MasterPasswordRetype"
              class="monospaced"
              [(ngModel)]="masterPasswordRetype"
              required
              appInputVerbatim
            />
          </div>
          <div class="action-buttons">
            <button
              type="button"
              class="row-btn"
              appStopClick
              appA11yTitle="{{ 'toggleVisibility' | i18n }}"
              [attr.aria-pressed]="showPassword"
              (click)="togglePassword(true)"
            >
              <i
                class="bwi bwi-lg"
                aria-hidden="true"
                [ngClass]="{ 'bwi-eye': !showPassword, 'bwi-eye-slash': showPassword }"
              ></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="box-content">
        <div class="box-content-row" appBoxRow>
          <label for="hint">{{ "masterPassHint" | i18n }}</label>
          <input id="hint" type="text" name="Hint" [(ngModel)]="hint" />
        </div>
      </div>
      <div class="box-footer">
        {{ "masterPassHintDesc" | i18n }}
      </div>
    </div>
    <div class="buttons">
      <button type="submit" class="btn primary block" [disabled]="form.loading">
        <b [hidden]="form.loading">{{ "submit" | i18n }}</b>
        <i class="bwi bwi-spinner bwi-spin" [hidden]="!form.loading" aria-hidden="true"></i>
      </button>
      <button type="button" (click)="logOut()" class="btn block">{{ "logOut" | i18n }}</button>
    </div>
  </div>
</form>
