<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>8bit Solutions LLC</string>
	<key>Builder Version</key>
	<string>13604.4.7.1.3</string>
	<key>CFBundleDisplayName</key>
	<string>Bitwarden</string>
	<key>CFBundleIdentifier</key>
	<string>com.bitwarden.safari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.26.0</string>
	<key>CFBundleVersion</key>
	<string>1.26.0</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>104857600</integer>
		<key>Global Page</key>
		<string>background.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popup/index.html</string>
				<key>Height</key>
				<integer>600</integer>
				<key>Identifier</key>
				<string>bitwarden-popover</string>
				<key>Width</key>
				<integer>375</integer>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>bitwarden-toolbar</string>
				<key>Image</key>
				<string>images/icon18_safari.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Bitwarden</string>
				<key>Palette Label</key>
				<string>Bitwarden</string>
				<key>Popover</key>
				<string>bitwarden-popover</string>
				<key>Tool Tip</key>
				<string>Bitwarden</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>content/autofill.js</string>
				<string>content/autofiller.js</string>
				<string>content/notificationBar.js</string>
				<string>content/shortcuts.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>content/autofill.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>A secure and free password manager for all of your devices.</string>
	<key>DeveloperIdentifier</key>
	<string>LTZ2PFU5D6</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://bitwarden.com/misc/safari-extension.xml</string>
	<key>Website</key>
	<string>https://bitwarden.com</string>
</dict>
</plist>
