@import (reference) "variables.less";
@import (reference) "mixins.less";

.generate-password-block {
    margin: 20px;
    font-size: 19px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: @font-family-monospace;
}

.about-page {
    padding: 50px 0 20px;
    text-align: center;

    img {
        margin: 0 auto 20px;
        width: 220px;
        display: block;
    }
}

.home-page {
    padding: 100px 20px 20px;
    text-align: center;
    position: relative;
    height: 100%;

    img {
        margin: 0 auto 30px;
        width: 250px;
        display: block;
    }

    p {
        font-size: 18px;
    }

    .buttons {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        padding: 20px;

        .btn {
            font-size: @font-size-base;
        }

        .btn-link {
            font-weight: 600;
        }
    }
}

.splash-page {
    text-align: center;
    padding: 160px 20px 0;

    img {
        width: 250px;
        display: block;
        margin: 0 auto;
    }
}
