@import "../../../node_modules/bootstrap/less/bootstrap.less";
@import "variables.less";
@import "components.less";

body {
    width: 320px;
    height: 568px;
    background-color: @background-color;
}

.content {
    position: absolute;
    top: 44px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;

    &.content-tabs {
        bottom: 55px;
    }

    &.content-no-header {
        top: 0;
    }
}
