<ng-container *ngIf="show">
  <ng-container [ngSwitch]="displayMode">
    <ng-container *ngSwitchCase="'noOrganizations'">
      <ul class="filter-options">
        <li class="filter-option active">
          <span class="filter-option-buttons">
            <button class="filter-button">
              <i class="bwi bwi-fw bwi-user" aria-hidden="true"></i>
              &nbsp;{{ "myVault" | i18n }}
            </button>
          </span>
        </li>
      </ul>
    </ng-container>
    <ng-container *ngSwitchCase="'personalOwnershipPolicy'">
      <div class="filter-heading" [ngClass]="{ active: !hasActiveFilter }">
        <button
          class="toggle-button"
          appA11yTitle="{{ 'toggleCollapse' | i18n }}"
          (click)="toggleCollapse()"
        >
          <i
            class="bwi bwi-fw"
            aria-hidden="true"
            [ngClass]="{
              'bwi-angle-right': isCollapsed,
              'bwi-angle-down': !isCollapsed
            }"
          ></i>
        </button>
        <button
          class="no-btn"
          (click)="clearFilter()"
          appA11yTitle="{{ 'filterAllVaults' | i18n }}"
        >
          <h2>&nbsp;{{ organizationGrouping.name | i18n }}</h2>
        </button>
      </div>
      <ul *ngIf="!isCollapsed" class="filter-options no-margin">
        <li
          class="filter-option"
          *ngFor="let organization of organizations"
          [ngClass]="{ active: organization.id === activeFilter.selectedOrganizationId }"
        >
          <span class="filter-buttons">
            <button
              class="filter-button"
              (click)="applyOrganizationFilter(organization)"
              appA11yTitle="{{ 'applyFilter' | i18n }}"
            >
              <i class="bwi bwi-fw bwi-business" aria-hidden="true"></i>
              &nbsp;{{ organization.name }}
            </button>
          </span>
        </li>
      </ul>
    </ng-container>
    <ng-container *ngSwitchCase="'singleOrganizationAndPersonalOwnershipPolicies'">
      <ul class="filter-options">
        <li class="filter-option active">
          <span class="filter-buttons">
            <button class="filter-button" appA11yTitle="{{ 'applyFilter' | i18n }}">
              <i class="bwi bwi-fw bwi-business" aria-hidden="true"></i>
              &nbsp;{{ organizations[0].name }}
            </button>
          </span>
        </li>
      </ul>
    </ng-container>
    <ng-container *ngSwitchCase="'organizationMember'">
      <div class="filter-heading" [ngClass]="{ active: !hasActiveFilter }">
        <button appA11yTitle="{{ 'toggleCollapse' | i18n }}" (click)="toggleCollapse()">
          <i
            class="bwi bwi-fw"
            aria-hidden="true"
            [ngClass]="{
              'bwi-angle-right': isCollapsed,
              'bwi-angle-down': !isCollapsed
            }"
          ></i>
        </button>
        <button
          class="no-btn"
          (click)="clearFilter()"
          appA11yTitle="{{ 'filterAllVaults' | i18n }}"
        >
          <h2>&nbsp;{{ organizationGrouping.name | i18n }}</h2>
        </button>
      </div>
      <ul *ngIf="!isCollapsed" class="filter-options no-margin">
        <li class="filter-option" [ngClass]="{ active: activeFilter.myVaultOnly }">
          <span class="filter-buttons">
            <button
              class="filter-button"
              (click)="applyMyVaultFilter()"
              appA11yTitle="{{ 'applyFilter' | i18n }}"
            >
              <i class="bwi bwi-fw bwi-user" aria-hidden="true"></i>
              &nbsp;{{ "myVault" | i18n }}
            </button>
          </span>
        </li>
        <li
          class="filter-option"
          *ngFor="let organization of organizations"
          [ngClass]="{ active: organization.id === activeFilter.selectedOrganizationId }"
        >
          <span class="filter-buttons">
            <button
              class="filter-button"
              (click)="applyOrganizationFilter(organization)"
              appA11yTitle="{{ 'applyFilter' | i18n }}"
            >
              <i class="bwi bwi-fw bwi-business" aria-hidden="true"></i>
              &nbsp;{{ organization.name }}
            </button>
          </span>
        </li>
      </ul>
    </ng-container>
  </ng-container>
  <hr />
</ng-container>
