<header>
    <div class="left">
        <app-pop-out></app-pop-out>
    </div>
    <div class="search">
        <input type="search" placeholder="{{'searchVault' | i18n}}" id="search"
               [(ngModel)]="searchText" appAutofocus>
        <i class="fa fa-search"></i>
    </div>
    <div class="right">
        <button appBlurClick (click)="addCipher()" title="{{'addItem' | i18n}}">
            <i class="fa fa-plus fa-lg"></i>
        </button>
    </div>
</header>
<content>
    <div class="no-items" *ngIf="!ciphers || !ciphers.length">
        <i class="fa fa-spinner fa-spin fa-3x" *ngIf="!loaded"></i>
        <ng-container *ngIf="loaded">
            <i class="fa fa-frown-o fa-4x"></i>
            <p>{{'noItemsInList' | i18n}}</p>
            <button (click)="addCipher()" class="btn block primary link">{{'addItem' | i18n}}</button>
        </ng-container>
    </div>
    <ng-container *ngIf="ciphers && ciphers.length && (!searchText || searchText.length < 2)">
        <div class="box list" *ngIf="favoriteCiphers">
            <div class="box-header">
                {{'favorites' | i18n}}
                <span class="flex-right">{{favoriteCiphers.length}}</span>
            </div>
            <div class="box-content">
                <app-ciphers-list [ciphers]="favoriteCiphers" title="{{'viewItem' | i18n}}"
                                  (onSelected)="selectCipher($event)"></app-ciphers-list>
            </div>
        </div>
        <div class="box list">
            <div class="box-header">
                {{'types' | i18n}}
                <span class="flex-right">4</span>
            </div>
            <div class="box-content single-line">
                <a href="#" class="box-content-row" appStopClick appBlurClick (click)="selectType(cipherType.Login)">
                    <div class="icon"><i class="fa fa-fw fa-lg fa-globe"></i></div>
                    {{'typeLogin' | i18n}}
                    <div class="flex-right">
                        <span class="row-sub-label">{{typeCounts.get(cipherType.Login) || 0}}</span>
                        <i class="fa fa-chevron-right fa-lg"></i>
                    </div>
                </a>
                <a href="#" class="box-content-row" appStopClick appBlurClick (click)="selectType(cipherType.Card)">
                    <div class="icon"><i class="fa fa-fw fa-lg fa-credit-card"></i></div>
                    {{'typeCard' | i18n}}
                    <div class="flex-right">
                        <span class="row-sub-label">{{typeCounts.get(cipherType.Card) || 0}}</span>
                        <i class="fa fa-chevron-right fa-lg"></i>
                    </div>
                </a>
                <a href="#" class="box-content-row" appStopClick appBlurClick (click)="selectType(cipherType.Identity)">
                    <div class="icon"><i class="fa fa-fw fa-lg fa-id-card-o"></i></div>
                    {{'typeIdentity' | i18n}}
                    <div class="flex-right">
                        <span class="row-sub-label">{{typeCounts.get(cipherType.Identity) || 0}}</span>
                        <i class="fa fa-chevron-right fa-lg"></i>
                    </div>
                </a>
                <a href="#" class="box-content-row" appStopClick appBlurClick (click)="selectType(cipherType.SecureNote)">
                    <div class="icon"><i class="fa fa-fw fa-lg fa-sticky-note-o"></i></div>
                    {{'typeSecureNote' | i18n}}
                    <div class="flex-right">
                        <span class="row-sub-label">{{typeCounts.get(cipherType.SecureNote) || 0}}</span>
                        <i class="fa fa-chevron-right fa-lg"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="box list">
            <div class="box-header">
                {{'folders' | i18n}}
                <span class="flex-right">{{folderCount}}</span>
            </div>
            <div class="box-content single-line">
                <a *ngFor="let f of folders" href="#" class="box-content-row" appStopClick appBlurClick
                   (click)="selectFolder(f)">
                    <div class="icon">
                        <i class="fa fa-fw fa-lg" [ngClass]="{'fa-folder-open': f.id, 'fa-folder-open-o': !f.id}"></i>
                    </div>
                    {{f.name}}
                    <div class="flex-right">
                        <span class="row-sub-label">{{folderCounts.get(f.id) || 0}}</span>
                        <i class="fa fa-chevron-right fa-lg"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="box list">
            <div class="box-header">
                {{'collections' | i18n}}
                <span class="flex-right">{{collections.length}}</span>
            </div>
            <div class="box-content single-line">
                <a *ngFor="let c of collections" href="#" class="box-content-row" appStopClick appBlurClick
                   (click)="selectCollection(c)">
                    <div class="icon"><i class="fa fa-fw fa-lg fa-cube"></i></div>
                    {{c.name}}
                    <div class="flex-right">
                        <span class="row-sub-label">{{collectionCounts.get(c.id) || 0}}</span>
                        <i class="fa fa-chevron-right fa-lg"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="box list" *ngIf="showNoFolderCiphers">
            <div class="box-header">
                {{'noneFolder' | i18n}}
                <div class="flex-right">{{noFolderCiphers.length}}</div>
            </div>
            <div class="box-content">
                <app-ciphers-list [ciphers]="noFolderCiphers" title="{{'viewItem' | i18n}}"
                                  (onSelected)="selectCipher($event)"></app-ciphers-list>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="ciphers && ciphers.length && searchText && searchText.length > 1 &&
                  (ciphers | searchCiphers: searchText) as searchedCiphers">
        <div class="no-items" *ngIf="!searchedCiphers.length">
            <p>{{'noItemsInList' | i18n}}</p>
        </div>
        <div class="box list full-list" *ngIf="searchedCiphers.length > 0">
            <div class="box-content">
                <app-ciphers-list [ciphers]="searchedCiphers" title="{{'viewItem' | i18n}}"
                                  (onSelected)="selectCipher($event)"></app-ciphers-list>
            </div>
        </div>
    </ng-container>
</content>
