<span class="row-btn" (click)="view()" appStopClick appStopProp title="{{'view' | i18n}}" *ngIf="showView">
    <i class="fa fa-lg fa-list-alt"></i>
</span>
<ng-container *ngIf="cipher.type === cipherType.Login">
    <span class="row-btn" appStopClick appStopProp title="{{'launch' | i18n}}" (click)="launch()"
          *ngIf="!showView" [ngClass]="{disabled: !cipher.login.canLaunch}">
        <i class="fa fa-lg fa-share-square-o"></i>
    </span>
    <span class="row-btn" appStopClick appStopProp title="{{'copyUsername' | i18n}}"
          (click)="copy(cipher.login.username, 'username', 'Username')"
          [ngClass]="{disabled: !cipher.login.username}">
        <i class="fa fa-lg fa-user"></i>
    </span>
    <span class="row-btn" appStopClick appStopProp title="{{'copyPassword' | i18n}}"
          (click)="copy(cipher.login.password, 'password', 'Password')"
          [ngClass]="{disabled: !cipher.login.password}">
        <i class="fa fa-lg fa-key"></i>
    </span>
</ng-container>
<ng-container *ngIf="cipher.type === cipherType.Card">
    <span class="row-btn" appStopClick appStopProp title="{{'copyNumber' | i18n}}"
          (click)="copy(cipher.card.number, 'number', 'Card Number')"
          [ngClass]="{disabled: !cipher.card.number}">
        <i class="fa fa-lg fa-hashtag"></i>
    </span>
    <span class="row-btn" appStopClick appStopProp title="{{'copySecurityCode' | i18n}}"
          (click)="copy(cipher.card.code, 'securityCode', 'Security Code')"
          [ngClass]="{disabled: !cipher.card.code}">
        <i class="fa fa-lg fa-key"></i>
    </span>
</ng-container>
<ng-container *ngIf="cipher.type === cipherType.SecureNote">
    <span class="row-btn" appStopClick appStopProp title="{{'copyNote' | i18n}}"
          (click)="copy(cipher.notes, 'note', 'Note')" [ngClass]="{disabled: !cipher.notes}">
        <i class="fa fa-lg fa-clipboard"></i>
    </span>
</ng-container>
