<header>
    <div class="left">
        <button type="button" appBlurClick (click)="close()">{{'close' | i18n}}</button>
    </div>
    <div class="center">
        <span class="title">{{'passwordHistory' | i18n}}</span>
    </div>
    <div class="right"></div>
</header>
<content>
    <div class="box list full-list" *ngIf="history && history.length">
        <div class="box-content">
            <div class="box-content-row box-content-row-flex" *ngFor="let h of history">
                <div class="row-main">
                    <div class="row-main-content">
                        <span class="text monospaced no-ellipsis">
                            {{h.password}}
                        </span>
                        <span class="detail">{{h.lastUsedDate | date:'medium'}}</span>
                    </div>
                </div>
                <div class="action-buttons">
                    <a class="row-btn" href="#" appStopClick title="{{'copyPassword' | i18n}}"
                       (click)="copy(h.password)">
                        <i class="fa fa-lg fa-clipboard"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="no-items" *ngIf="!history || !history.length">
        <p>{{'noPasswordsInList' | i18n}}</p>
    </div>
</content>
