<header>
    <div class="left">
        <app-pop-out></app-pop-out>
    </div>
    <div class="center">
        <span class="title">{{'tools' | i18n}}</span>
    </div>
    <div class="right"></div>
</header>
<content>
    <div class="box list">
        <div class="box-content">
            <a routerLink="/generator" class="box-content-row box-content-row-flex text-default">
                <div class="row-main">{{'passGen' | i18n}}</div>
                <i class="fa fa-chevron-right row-sub-icon"></i>
            </a>
        </div>
    </div>
</content>
