<form name="theForm" ng-submit="login(model)" bit-form="loginPromise">
    <div class="header">
        <div class="left">
            <a ui-sref="login({animation: 'out-slide-right'})"><i class="fa fa-chevron-left"></i> Log In</a>
        </div>
        <div class="right">
            <button type="submit" class="btn btn-link" ng-show="!theForm.$loading">{{ i18n.continue }}</button>
            <i class="fa fa-spinner fa-lg" ng-show="theForm.$loading" ng-class="{'fa-spin' : theForm.$loading}"></i>
        </div>
        <div class="title">{{ i18n.verificationCode }}</div>
    </div>
    <div class="content">
        <div class="list">
            <div class="list-section">
                <div class="list-section-items">
                    <div class="list-section-item list-section-item-icon-input">
                        <i class="fa fa-lock fa-lg fa-fw"></i>
                        <label for="code" class="sr-only">{{ i18n.verificationCode }}</label>
                        <input id="code" type="text" name="Code" placeholder="{{ i18n.verificationCode }}" ng-model="model.code">
                    </div>
                </div>
                <div class="list-section-footer">
                    {{ i18n.enterTwoStepVerCode }}
                </div>
            </div>
        </div>
    </div>
</form>
