<div class="header">
    <div class="left">
        <a href="#" ng-click="cancel()" stop-click>{{i18n.cancel}}</a>
    </div>
    <div class="title">{{i18n.twoStepOptions}}</div>
</div>
<div class="content">
    <div class="list">
        <div class="list-section">
            <div class="list-section-items">
                <a class="list-section-item wrap" href="#" stop-click ng-click="choose(provider)"
                   ng-repeat="provider in providers | orderBy: 'displayOrder'">
                    <span class="text">{{provider.name}}</span>
                    <span class="detail">{{provider.description}}</span>
                </a>
                <a class="list-section-item wrap" href="#" stop-click ng-click="recover()">
                    <span class="text">{{i18n.recoveryCodeTitle}}</span>
                    <span class="detail">
                        {{i18n.recoveryCodeDesc}}
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
