<form name="theForm" ng-submit="submit(model)" bit-form="submitPromise">
    <div class="header">
        <div class="left">
            <a ui-sref="login({animation: 'out-slide-right'})"><i class="fa fa-chevron-left"></i> {{i18n.login}}</a>
        </div>
        <div class="right">
            <button type="submit" class="btn btn-link" ng-show="!theForm.$loading">{{i18n.submit}}</button>
            <i class="fa fa-spinner fa-lg" ng-show="theForm.$loading" ng-class="{'fa-spin' : theForm.$loading}"></i>
        </div>
        <div class="title">{{i18n.passwordHint}}</div>
    </div>
    <div class="content">
        <div class="list">
            <div class="list-section">
                <div class="list-section-items">
                    <div class="list-section-item list-section-item-icon-input">
                        <i class="fa fa-envelope fa-lg fa-fw"></i>
                        <label for="email" class="sr-only">{{i18n.emailAddress}}</label>
                        <input id="email" type="text" name="Email" placeholder="{{i18n.emailAddress}}" ng-model="model.email">
                    </div>
                </div>
                <div class="list-section-footer">
                    {{i18n.enterEmailToGetHint}}
                </div>
            </div>
        </div>
    </div>
</form>
