<form name="theForm" ng-submit="submit(model)" bit-form="submitPromise">
    <div class="header">
        <div class="left">
            <a ui-sref="home({animation: 'out-slide-down'})">{{ i18n.cancel }}</a>
        </div>
        <div class="right">
            <button type="submit" class="btn btn-link" ng-show="!theForm.$loading">{{ i18n.submit }}</button>
            <i class="fa fa-spinner fa-lg" ng-show="theForm.$loading" ng-class="{'fa-spin' : theForm.$loading}"></i>
        </div>
        <div class="title">{{ i18n.createAccount }}</div>
    </div>
    <div class="content">
        <div class="list">
            <div class="list-section">
                <div class="list-section-items">
                    <div class="list-section-item list-section-item-icon-input">
                        <i class="fa fa-envelope fa-lg fa-fw"></i>
                        <label for="email" class="sr-only">{{ i18n.emailAddress }}</label>
                        <input id="email" type="text" name="Email" placeholder="{{ i18n.emailAddress }}" ng-model="model.email">
                    </div>
                    <div class="list-section-item list-section-item-icon-input">
                        <i class="fa fa-lock fa-lg fa-fw"></i>
                        <label for="master-password" class="sr-only">{{ i18n.masterPass }}</label>
                        <input id="master-password" type="password" name="MasterPassword"
                               placeholder="{{ i18n.masterPass }}" ng-model="model.masterPassword">
                    </div>
                </div>
                <div class="list-section-footer">
                    {{ i18n.masterPassDesc }}
                </div>
            </div>
            <div class="list-section">
                <div class="list-section-items">
                    <div class="list-section-item list-section-item-icon-input">
                        <i class="fa fa-lock fa-lg fa-fw"></i>
                        <label for="master-password-retype" class="sr-only">{{ i18n.reTypeMasterPass }}</label>
                        <input id="master-password-retype" type="password" name="MasterPasswordRetype"
                               placeholder="{{ i18n.reTypeMasterPass }}" ng-model="model.masterPasswordRetype">
                    </div>
                    <div class="list-section-item list-section-item-icon-input">
                        <i class="fa fa-lightbulb-o fa-lg fa-fw"></i>
                        <label for="hint" class="sr-only">{{ i18n.masterPassHint }}</label>
                        <input id="hint" type="text" name="Hint" placeholder="{{ i18n.masterPassHint }}"
                               ng-model="model.hint">
                    </div>
                </div>
                <div class="list-section-footer">
                    {{ i18n.masterPassHintDesc }}
                </div>
            </div>
        </div>
    </div>
</form>
