<div class="header header-search">
    <div class="left" ng-if="!main.inSidebar">
        <a href="" ng-click="main.expandVault()"><i class="fa fa-external-link fa-rotate-270 fa-lg"></i></a>
    </div>
    <div class="left" ng-if="main.inSidebar">
        <a href="" ng-click="refresh()"><i class="fa fa-refresh fa-lg"></i></a>
    </div>
    <div class="search" ng-style="{'visibility': main.disableSearch ? 'hidden' : 'visible'}">
        <input type="search" placeholder="{{i18n.searchVault}}" id="search" ng-model="searchText" ng-change="searchVault()" />
        <i class="fa fa-search"></i>
    </div>
    <div class="right">
        <a href="" ng-click="addCipher()"><i class="fa fa-plus fa-lg"></i></a>
    </div>
</div>
<div class="content content-tabs">
    <div ng-if="ciphers.length">
        <div class="list">
            <div class="list-grouped">
                <a href="#" stop-click ng-click="fillCipher(cipher)" class="list-grouped-item condensed"
                   title="{{i18n.autoFill}} {{cipher.name}}"
                   ng-repeat="cipher in theCiphers = (ciphers | orderBy: [sortUriMatch, sortLastUsed, 'name', 'subTitle'])
                        track by $index">
                    <span class="btn-list" stop-prop stop-click title="{{i18n.copyPassword}}"
                          ngclipboard ngclipboard-error="clipboardError(e)"
                          ngclipboard-success="clipboardSuccess(e, i18n.password)"
                          data-clipboard-text="{{cipher.password}}" ng-class="{'disabled': !cipher.password}">
                        <i class="fa fa-lg fa-key"></i>
                    </span>
                    <span class="btn-list" stop-prop stop-click title="{{i18n.copyUsername}}"
                          ngclipboard ngclipboard-error="clipboardError(e)"
                          ngclipboard-success="clipboardSuccess(e, i18n.username)"
                          data-clipboard-text="{{cipher.username}}" ng-class="{'disabled': !cipher.username}">
                        <i class="fa fa-lg fa-user"></i>
                    </span>
                    <span class="btn-list" ng-click="viewCipher(cipher)" stop-prop stop-click
                          title="{{i18n.edit}} {{cipher.name}}">
                        <i class="fa fa-lg fa-pencil"></i>
                    </span>
                    <icon uri="cipher.uri"></icon>
                    <span class="text">
                        {{cipher.name}}
                        <i class="fa fa-share-alt text-muted" ng-if="cipher.organizationId" title="{{i18n.shared}}"></i>
                    </span>
                    <span class="detail">{{cipher.subTitle}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="centered-message" ng-if="loaded && !ciphers.length">
        <p>
            {{i18n.autoFillInfo}}
            <button ng-click="addCipher()" style="margin-top: 20px;" class="btn btn-link btn-block">{{i18n.addLogin}}</button>
        </p>
    </div>
    <div class="page-loading" ng-if="!loaded">
        <i class="fa fa-lg fa-spinner fa-spin"></i>
    </div>
</div>
