@-webkit-keyframes onepasswordfill {
	0% { -webkit-transform: scale(1.0,1.0); }
	50% { -webkit-transform: scale(1.2,1.2); }
	100% { -webkit-transform: scale(1.0,1.0); }
}

@-moz-keyframes onepasswordfill {
	0% { transform: scale(1.0,1.0); }
	50% { transform: scale(1.2,1.2); }
	100% { transform: scale(1.0,1.0); }
}

.com-agilebits-onepassword-extension-animated-fill {
	animation: onepasswordfill 200ms ease-in-out 0ms 1;
	-webkit-animation: onepasswordfill 200ms ease-in-out 0ms 1;
}
