<div class="header">
    <div class="left">
        <a href="" ng-click="close()">Close</a>
    </div>
    <div class="right">
        <a href="" ng-click="edit(site)">Edit</a>
    </div>
    <div class="title">View Site</div>
</div>
<div class="content">
    <div class="list list-no-selection">
        <div class="list-section">
            <div class="list-section-header">
                Site Information
            </div>
            <div class="list-section-items">
                <div class="list-section-item">
                    <span class="item-label">Name</span>
                    {{site.name}}
                </div>
                <div class="list-section-item" ng-show="site.uri">
                    <a class="btn-list" href="" title="Launch Website" ng-click="launchWebsite(site)"
                       ng-show="site.showLaunch">
                        <i class="fa fa-lg fa-share-square-o"></i>
                    </a>
                    <span class="item-label">Website</span>
                    {{site.website}}
                </div>
                <div class="list-section-item" ng-show="site.username">
                    <a class="btn-list" href="" title="Copy Username" ngclipboard ngclipboard-error="clipboardError(e)"
                       ngclipboard-success="clipboardSuccess(e, 'Username')" data-clipboard-target="#username">
                        <i class="fa fa-lg fa-clipboard"></i>
                    </a>
                    <span class="item-label">Username</span>
                    <span id="username" class="monospaced">{{site.username}}</span>
                </div>
                <div class="list-section-item" ng-show="site.password">
                    <a class="btn-list" href="" title="Copy Password" ngclipboard ngclipboard-error="clipboardError(e)"
                       ngclipboard-success="clipboardSuccess(e, 'Password')" data-clipboard-target="#password">
                        <i class="fa fa-lg fa-clipboard"></i>
                    </a>
                    <a class="btn-list" href="" title="Toggle Password" ng-click="togglePassword()">
                        <i class="fa fa-lg fa-eye"></i>
                    </a>
                    <span class="item-label">Password</span>
                    <span ng-show="!showPassword">{{site.maskedPassword}}</span>
                    <span id="password" ng-show="showPassword" class="monospaced">{{site.password}}</span>
                </div>
            </div>
        </div>
        <div class="list-section" ng-show="site.notes">
            <div class="list-section-header">
                Notes
            </div>
            <div class="list-section-items">
                <div class="list-section-item">
                    {{site.notes}}
                </div>
            </div>
        </div>
    </div>
</div>
