<div class="header">
    <a ui-sref="tabs.vault" class="left">Close</a>
    <a href="#" class="right">Save</a>
    <div class="title">Add Site</div>
</div>
<div class="content">
    <div class="list">
        <div class="list-divider">
            Site Information
        </div>
        <div class="list-item">
            <label>Name</label>
            <input type="text" ng-model="site.name">
        </div>
        <div class="list-item">
            <label>URI</label>
            <input type="text" ng-model="site.uri">
        </div>
        <div class="list-item">
            <label>Username</label>
            <input type="text" ng-model="site.username">
        </div>
        <div class="list-item">
            <label>Password</label>
            <input type="password" ng-model="site.password">
        </div>
        <a class="list-item" href="#">
            Generate Password
            <i class="fa fa-chevron-right"></i>
        </a>
        <div class="list-divider">
            &nbsp;
        </div>
        <div class="list-item">
            <label>Folder</label>
            <select>
                <option>Blue</option>
                <option selected>Green</option>
                <option>Red</option>
            </select>
        </div>
        <div class="list-item">
            <label>Favorite</label>
            <input type="checkbox" ng-model="site.favorite">
        </div>
        <div class="list-divider">
            Notes
        </div>
        <div class="list-item">
            <textarea rows="5" ng-model="site.notes"></textarea>
        </div>
    </div>
</div>
