<form name="theForm" ng-submit="submit()" bit-form="submitPromise" autocomplete="off">
    <div class="header">
        <div class="left">
            <a href="" ng-click="close()">{{i18n.close}}</a>
        </div>
        <div class="right" ng-if="isPremium">
            <button type="submit" class="btn btn-link" ng-show="!theForm.$loading">{{i18n.submit}}</button>
            <i class="fa fa-spinner fa-lg fa-spin no-animation" ng-show="theForm.$loading"></i>
        </div>
        <div class="title">{{i18n.attachments}}</div>
    </div>
    <div class="content">
        <div class="list list-no-selection">
            <div class="list-section">
                <div class="list-section-items">
                    <div class="list-section-item" ng-if="!cipher.attachments.length">
                        {{i18n.noAttachments}}
                    </div>
                    <div class="list-section-item" ng-repeat="attachment in cipher.attachments">
                        <div class="action-buttons">
                            <span class="btn-list no-padding" stop-prop stop-click title="{{i18n.deleteAttachment}}"
                                  ng-click="delete(attachment)">
                                <i class="fa fa-lg fa-trash"></i>
                            </span>
                        </div>
                        <small class="item-sub-label">{{attachment.sizeName}}</small>
                        <span class="text">{{attachment.fileName}}</span>
                    </div>
                </div>
            </div>
            <div class="list-section" ng-if="isPremium">
                <div class="list-section-header">
                    {{i18n.newAttachment}}
                </div>
                <div class="list-section-items">
                    <div class="list-section-item">
                        <label for="file" class="item-label">{{i18n.file}}</label>
                        <input type="file" id="file" name="file" />
                    </div>
                </div>
                <div class="list-section-footer">
                    {{i18n.maxFileSize}}
                </div>
            </div>
        </div>
    </div>
</form>
