<div class="header header-search">
    <div class="left">
        <a ui-sref="tabs.vault({animation: 'out-slide-right'})"><i class="fa fa-chevron-left"></i> {{i18n.myVault}}</a>
    </div>
    <div class="search">
        <input type="search" placeholder="{{i18n.searchFolder}}" ng-model="searchText" ng-change="searchCiphers()" id="search" />
        <i class="fa fa-search"></i>
    </div>
    <div class="right">
        <a href="" ng-click="addCipher()"><i class="fa fa-plus fa-lg"></i></a>
    </div>
</div>
<div class="content">
    <div ng-if="vaultCiphers.length" infinite-scroll="loadMore()" infinite-scroll-distance="1" infinite-scroll-parent="true"
         infinite-scroll-immediate-check="true">
        <div class="list">
            <div class="list-section" style="padding-bottom: 0;">
                <div class="list-section-header">
                    {{folder.name}}
                    <span>{{vaultCiphers.length}}</span>
                </div>
                <a href="#" stop-click ng-click="viewCipher(cipher)"
                   class="list-section-item condensed" title="{{i18n.edit}} {{cipher.name}}"
                   ng-repeat="cipher in pagedVaultCiphers track by $index">
                    <action-buttons cipher="cipher"></action-buttons>
                    <icon cipher="cipher"></icon>
                    <span class="text">
                        {{cipher.name}}
                        <i class="fa fa-share-alt text-muted" ng-if="cipher.organizationId" title="{{i18n.shared}}"></i>
                        <i class="fa fa-paperclip text-muted" ng-if="cipher.attachments" title="{{i18n.attachments}}"></i>
                    </span>
                    <span class="detail">{{cipher.username}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="centered-message" ng-if="loaded && !vaultCiphers.length">
        <p>
            {{i18n.noItemsInList}}
            <button ng-click="addCipher()" style="margin-top: 20px;" class="btn btn-link btn-block">{{i18n.addLogin}}</button>
        </p>
    </div>
    <div class="page-loading" ng-if="!loaded">
        <i class="fa fa-lg fa-spinner fa-spin"></i>
    </div>
</div>
