<div class="header">
    <div class="left">
        <a href="" ui-sref="tabs.vault({animation: 'out-slide-down'})">Close</a>
    </div>
    <div class="right">
        <a href="" ui-sref="editSite({animation: 'in-slide-up', siteId: site.id, fromView: true})">Edit</a>
    </div>
    <div class="title">View Site</div>
</div>
<div class="content">
    <div class="list list-no-selection">
        <div class="list-section">
            <div class="list-section-header">
                Site Information
            </div>
            <div class="list-section-items">
                <div class="list-section-item">
                    <span class="item-label">Name</span>
                    {{site.name}}
                </div>
                <div class="list-section-item">
                    <span class="item-label">Website</span>
                    {{site.uri}}
                </div>
                <div class="list-section-item">
                    <span class="item-label">Username</span>
                    {{site.username}}
                </div>
                <div class="list-section-item">
                    <span class="item-label">Password</span>
                    {{site.maskedPassword}}
                </div>
            </div>
        </div>
        <div class="list-section" ng-show="site.notes">
            <div class="list-section-header">
                Notes
            </div>
            <div class="list-section-items">
                <div class="list-section-item">
                    {{site.notes}}
                </div>
            </div>
        </div>
    </div>
</div>
