<form name="theForm" ng-submit="save(cipher)" bit-form="savePromise" autocomplete="off">
    <div class="header">
        <div class="left">
            <a ng-click="close()" href="">{{i18n.cancel}}</a>
        </div>
        <div class="right">
            <button type="submit" class="btn btn-link" ng-show="!theForm.$loading">{{i18n.save}}</button>
            <i class="fa fa-spinner fa-lg" ng-show="theForm.$loading" ng-class="{'fa-spin' : theForm.$loading}"></i>
        </div>
        <div class="title">{{i18n.editLogin}}</div>
    </div>
    <div class="content">
        <div class="list">
            <div class="list-section">
                <div class="list-section-header">
                    {{i18n.loginInformation}}
                    <i class="fa fa-share-alt fa-lg pull-right" ng-if="cipher.organizationId" title="{{i18n.shared}}"></i>
                </div>
                <div class="list-section-items">
                    <div class="list-section-item">
                        <label for="name" class="item-label">{{i18n.name}}</label>
                        <input id="name" type="text" name="Name" ng-model="cipher.name">
                    </div>
                    <div class="list-section-item">
                        <label for="uri" class="item-label">{{i18n.uri}}</label>
                        <input id="uri" type="text" name="Uri" ng-model="cipher.uri">
                    </div>
                    <div class="list-section-item">
                        <label for="username" class="item-label">{{i18n.username}}</label>
                        <input id="username" type="text" name="Username" ng-model="cipher.username">
                    </div>
                    <div class="list-section-item">
                        <label for="password" class="item-label">{{i18n.password}}</label>
                        <input id="password" type="password" name="Password" ng-model="cipher.password">
                    </div>
                    <a class="list-section-item" href="" ng-click="generatePassword()">
                        {{i18n.generatePassword}}
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="list-section">
                <div class="list-section-items">
                    <div class="list-section-item">
                        <label for="totp" class="item-label">{{i18n.authenticatorKeyTotp}}</label>
                        <input id="totp" type="text" name="Totp" ng-model="cipher.totp">
                    </div>
                    <div class="list-section-item">
                        <label for="folder" class="item-label">{{i18n.folder}}</label>
                        <select id="folder" name="FolderId" ng-model="cipher.folderId">
                            <option ng-repeat="folder in folders | orderBy: ['name'] track by $index" value="{{folder.id}}">
                                {{folder.name}}
                            </option>
                        </select>
                    </div>
                    <div class="list-section-item list-section-item-checkbox">
                        <label for="favorite">{{i18n.favorite}}</label>
                        <input id="favorite" name="Favorite" type="checkbox" ng-model="cipher.favorite">
                    </div>
                    <a class="list-section-item" href="#" stop-click ng-click="attachments()" ng-if="showAttachments">
                        {{i18n.attachments}}
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="list-section">
                <div class="list-section-header">
                    <label for="notes">{{i18n.notes}}</label>
                </div>
                <div class="list-section-items">
                    <div class="list-section-item">
                        <textarea id="notes" name="Notes" rows="5" ng-model="cipher.notes"></textarea>
                    </div>
                </div>
            </div>
            <div class="list-section">
                <div class="list-section-header">
                    {{i18n.customFields}}
                </div>
                <div class="list-section-items">
                    <div class="list-section-item list-section-item-table" 
                         ng-if="cipher.fields && cipher.fields.length" ng-repeat="field in cipher.fields"
                         ng-class="{'list-section-item-checkbox' : field.type === constants.fieldType.boolean}">
                        <a href="#" stop-click ng-click="removeField(field)" class="action-button text-danger">
                            <i class="fa fa-close fa-lg"></i>
                        </a>
                        <div class="action-button-content">
                            <input id="field_name{{$index}}" type="text" name="Field.Name{{$index}}"
                                   ng-model="field.name" class="item-label"
                                   placeholder="{{i18n.name}}">
                            <input id="field_value{{$index}}" type="text" name="Field.Value{{$index}}"
                                   ng-model="field.value" ng-if="field.type === constants.fieldType.text"
                                   placeholder="{{i18n.value}}">
                            <input id="field_value{{$index}}" type="password" name="Field.Value{{$index}}"
                                   ng-model="field.value" ng-if="field.type === constants.fieldType.hidden"
                                   placeholder="{{i18n.value}}">
                            <input id="field_value{{$index}}" name="Field.Value{{$index}}" type="checkbox"
                                   ng-model="field.value" data-ng-true-value="'true'"
                                   ng-if="field.type === constants.fieldType.boolean">
                        </div>
                    </div>
                    <div class="list-section-item">
                        <a href="#" stop-click ng-click="addField(addFieldType)">
                            <i class="fa fa-plus-circle fa-fw fa-lg"></i> {{i18n.newCustomField}}
                        </a>
                        <select ng-model="addFieldType" class="field-type">
                            <option value="0">{{i18n.cfTypeText}}</option>
                            <option value="1">{{i18n.cfTypeHidden}}</option>
                            <option value="2">{{i18n.cfTypeBoolean}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="list-section">
                <div class="list-section-items">
                    <a href="" ng-click="delete()" class="list-section-item text-danger">
                        <i class="fa fa-trash fa-fw fa-lg"></i> {{i18n.deleteLogin}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
