<div class="header">
    <div class="right">
        <a href="" ng-click="addSite()"><i class="fa fa-plus fa-lg"></i></a>
    </div>
    <div class="search">
        <input type="search" placeholder="Search vault" ng-model="searchText" id="search" />
        <i class="fa fa-search"></i>
    </div>
</div>
<div class="content content-tabs">
    <div class="list">
        <div class="list-grouped" ng-repeat="folder in vaultFolders | orderBy: folderSort" ng-show="vaultFolders.length">
            <div class="list-grouped-header">
                <i class="fa fa-folder-open"></i> {{folder.name}}
            </div>
            <a href="" ng-click="viewSite(site)" class="list-grouped-item condensed" 
               ng-repeat="site in folderSites = (vaultSites | filter: { folderId: folder.id } | filter: (searchText || '') | orderBy: ['name', 'username'])">
                <span class="btn-list"><i class="fa fa-lg fa-ellipsis-h text-muted"></i></span>
                <span class="text">{{site.name}}</span>
                <span class="detail">{{site.username}}</span>
            </a>
        </div>
    </div>
</div>
