<div class="header">
    <div class="left">
        <a href="" ng-click="close()">{{i18n.close}}</a>
    </div>
    <div class="right">
        <a href="" ng-click="edit(login)">{{i18n.edit}}</a>
    </div>
    <div class="title">{{i18n.viewLogin}}</div>
</div>
<div class="content">
    <div class="list list-no-selection">
        <div class="list-section">
            <div class="list-section-header">
                {{i18n.loginInformation}}
                <i class="fa fa-share-alt fa-lg pull-right" ng-if="login.organizationId" title="{{i18n.shared}}"></i>
            </div>
            <div class="list-section-items">
                <div class="list-section-item">
                    <span class="item-label">{{i18n.name}}</span>
                    {{login.name}}
                </div>
                <div class="list-section-item" ng-if="login.uri" title="{{login.uri}}">
                    <a class="btn-list" href="" title="{{i18n.launchWebsite}}" ng-click="launchWebsite(login)"
                       ng-show="login.showLaunch">
                        <i class="fa fa-lg fa-share-square-o"></i>
                    </a>
                    <span class="item-label">{{i18n.website}}</span>
                    {{login.website}}
                </div>
                <div class="list-section-item" ng-if="login.username">
                    <a class="btn-list" href="" title="{{i18n.copyUsername}}" ngclipboard ngclipboard-error="clipboardError(e)"
                       ngclipboard-success="clipboardSuccess(e, i18n.username)" data-clipboard-text="{{login.username}}">
                        <i class="fa fa-lg fa-clipboard"></i>
                    </a>
                    <span class="item-label">{{i18n.username}}</span>
                    <span id="username">{{login.username}}</span>
                </div>
                <div class="list-section-item" ng-if="login.password">
                    <a class="btn-list" href="" title="{{i18n.copyPassword}}" ngclipboard ngclipboard-error="clipboardError(e)"
                       ngclipboard-success="clipboardSuccess(e, i18n.password)" data-clipboard-text="{{login.password}}">
                        <i class="fa fa-lg fa-clipboard"></i>
                    </a>
                    <a class="btn-list" href="" title="{{i18n.togglePassword}}" ng-click="togglePassword()">
                        <i class="fa fa-lg" ng-class="[{'fa-eye': !showPassword}, {'fa-eye-slash': showPassword}]"></i>
                    </a>
                    <span class="item-label">{{i18n.password}}</span>
                    <span ng-show="!showPassword">{{login.maskedPassword}}</span>
                    <span id="password" ng-show="showPassword" class="monospaced">{{login.password}}</span>
                </div>
                <div class="list-section-item totp" ng-class="{'low': totpLow}" ng-if="login.totp && totpCode">
                    <a class="btn-list" href="" title="{{i18n.copyVerificationCode}}"
                       ngclipboard ngclipboard-error="clipboardError(e)"
                       ngclipboard-success="clipboardSuccess(e, i18n.verificationCodeTotp)" data-clipboard-text="{{totpCode}}">
                        <i class="fa fa-lg fa-clipboard"></i>
                    </a>
                    <span class="totp-countdown">
                        <span class="totp-sec">{{totpSec}}</span>
                        <svg>
                            <g>
                                <circle class="totp-circle inner" r="12.6" cy="16" cx="16" 
                                        style="stroke-dashoffset: {{totpDash}}px;"></circle>
                                <circle class="totp-circle outer" r="14" cy="16" cx="16"></circle>
                            </g>
                        </svg>
                    </span>
                    <span class="item-label">{{i18n.verificationCodeTotp}}</span>
                    <span id="totp" class="totp-code">{{totpCodeFormatted}}</span>
                </div>
            </div>
        </div>
        <div class="list-section" ng-if="login.notes">
            <div class="list-section-header">
                {{i18n.notes}}
            </div>
            <div class="list-section-items">
                <div class="list-section-item pre">{{login.notes}}</div>
            </div>
        </div>
        <div class="list-section" ng-if="isPremium && login.attachments && login.attachments.length">
            <div class="list-section-header">
                {{i18n.attachments}}
            </div>
            <div class="list-section-items">
                <a class="list-section-item list-allow-selection" href="#" stop-click
                   ng-repeat="attachment in login.attachments"
                   ng-click="download(attachment)">
                    <i class="fa fa-download right-icon fa-fw no-animation" ng-if="!attachment.downloading"></i>
                    <i class="fa fa-spin fa-spinner right-icon fa-fw no-animation" ng-if="attachment.downloading"></i>
                    <small class="item-sub-label">{{attachment.sizeName}}</small>
                    <span class="text">{{attachment.fileName}}</span>
                </a>
            </div>
        </div>
    </div>
</div>
