<div class="header">
    <div class="right">
        <a ui-sref="addSite({animation: 'in-slide-up'})"><i class="fa fa-plus fa-lg"></i></a>
    </div>
    <div class="title">My Vault</div>
</div>
<div class="content content-tabs">
    <div class="list">
        <div class="list-grouped" ng-repeat="folder in vaultFolders | orderBy: folderSort" ng-show="vaultFolders.length">
            <div class="list-grouped-header">
                <i class="fa fa-folder-open"></i> {{folder.name}}
            </div>
            <a ui-sref="viewSite({siteId: site.id, animation: 'in-slide-up'})" class="list-grouped-item condensed" ng-repeat="site in folderSites = (vaultSites | filter: { folderId: folder.id } | orderBy: ['name', 'username'])">
                <span class="btn-list"><i class="fa fa-lg fa-ellipsis-h text-muted"></i></span>
                <span class="text">{{site.name}}</span>
                <span class="detail">{{site.username}}</span>
            </a>
        </div>
    </div>
</div>
