<form name="theForm" ng-submit="$ctrl.submit()">
    <div class="header">
        <div class="left">
            <a ui-sref="tabs.tools({animation: 'out-slide-down'})">{{$ctrl.i18n.close}}</a>
        </div>
        <div class="right">
            <button type="submit" class="btn btn-link">{{$ctrl.i18n.submit}}</button>
        </div>
        <div class="title">{{$ctrl.i18n.exportVault}}</div>
    </div>
    <div class="content">
        <div class="list">
            <div class="list-section">
                <div class="list-section-items">
                    <div class="list-section-item list-section-item-icon-input">
                        <i class="fa fa-lock fa-lg fa-fw"></i>
                        <label for="master-password" class="sr-only">{{$ctrl.i18n.masterPass}}</label>
                        <input id="master-password" type="password" name="MasterPassword"
                               placeholder="{{$ctrl.i18n.masterPass}}" ng-model="$ctrl.masterPassword">
                    </div>
                </div>
                <div class="list-section-footer">
                    <p>{{$ctrl.i18n.exportMasterPassword}}</p>
                    <b>{{$ctrl.i18n.warning}}</b>: {{$ctrl.i18n.exportWarning}}
                </div>
            </div>
        </div>
    </div>
</form>
