.vs
.idea
node_modules
npm-debug.log
vwd.webinfo
dist/
dist-safari/
css/
*.crx
*.pem
build/
yarn-error.log
.DS_Store
*.nupkg
*.provisionprofile
*.env
PlugIns/safari.appex/
PlugIns/safari-legacy.appex/
