<div class="header">
    <div class="left">
        <a ui-sref="about({animation: 'out-slide-right'})"><i class="fa fa-chevron-left"></i> {{$ctrl.i18n.back}}</a>
    </div>
    <div class="title">{{$ctrl.i18n.thankYou}}</div>
</div>
<div class="content">
    <div class="list">
        <div class="list-section">
            <div class="list-section-header">
                {{$ctrl.i18n.translations}}
            </div>
            <div class="list-section-items">
                <div class="list-section-item">
                    <b>@sersoftin</b> - Russian<br />
                    <b>@lbel</b> - Dutch<br />
                    <b>@KarimGeiger</b> - German<br />
                    <b>@Primokorn</b> - French<br />
                    <b>@felixqu</b> - Chinese Simplified<br />
                    <b>@thomassth</b> - Chinese Traditional<br />
                    <b>@Igetin</b> - Finnish<br />
                    <b>@LivingWithHippos</b> - Italian<br />
                    <b>@King-Tut-Tut</b> - Swedish<br />
                    <b>@majod</b> - Slovak<br />
                    <b>@RixzZ</b> - Spanish<br />
                    <b>@SW1FT</b> - Portuguese
                </div>
            </div>
            <div class="list-section-footer">
                {{$ctrl.i18n.contribute}} <a href="" ng-click="learnMore()">{{$ctrl.i18n.learnMore}}</a>
            </div>
        </div>
    </div>
</div>
