@import "variables.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    background-color: $background-color-alt2;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    color: $text-color;
    line-height: $line-height-base;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif;
    color: $text-color;
}

p {
    margin-bottom: 10px;
}

ul, ol {
    margin-bottom: 10px;
}

img {
    border: none;
}

a {
    color: $brand-primary;
    text-decoration: none;

    &:hover, &:focus {
        color: darken($brand-primary, 6%);
    }
}

input, select, textarea, button {
    font-size: $font-size-base;
    font-family: $font-family-sans-serif;
}

button {
    white-space: nowrap;
    cursor: pointer;
}

textarea {
    resize: vertical;
}

div:not(.modal)::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

div:not(.modal)::-webkit-scrollbar-track {
    background-color: transparent;
}

div:not(.modal)::-webkit-scrollbar-thumb {
    background-color: rgba(100,100,100,.2);
    border-radius: 10px;
    margin-right: 1px;

    &:hover {
        background-color: rgba(100,100,100,.4);
    }
}
