@import "variables.scss";

.box {
    width: 100%;

    .box-header {
        margin: 0 10px 5px 10px;
        color: $gray-light;
        text-transform: uppercase;

        button {
            background-color: transparent;
            border: none;
            color: $gray-light;
            text-transform: uppercase;
        }
    }

    .box-content {
        background: $box-background-color;
        border-radius: $border-radius;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

        &.box-content-padded {
            padding: 10px 15px;
        }

        .box-content-row {
            display: block;
            padding: 10px 15px;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                height: 1px;
                width: calc(100% - 10px);
                border-bottom: 1px solid $box-border-color;
            }

            &:first-child, &:last-child {
                border-radius: $border-radius;
            }

            &:last-child {
                &:before {
                    border: none;
                    height: 0;
                }
            }

            &:after {
                content: "";
                display: table;
                clear: both;
            }

            &:hover, &:focus, &.active {
                background-color: $box-background-hover-color;
            }

            &.pre {
                white-space: pre;
                overflow-x: auto;
            }

            .row-label, label {
                font-size: $font-size-small;
                color: $text-muted;
                display: block;
                width: 100%;
                margin-bottom: 5px;
            }

            .text, .detail {
                display: block;
                color: $text-color;
            }

            .detail {
                font-size: $font-size-small;
                color: $text-muted;
            }

            .img-right {
                float: right;
                margin-left: 10px;
            }

            .row-main {
                flex-grow: 1;
            }

            &.box-content-row-flex, &.box-content-row-checkbox, &.box-content-row-input,
            &.box-content-row-slider, &.box-content-row-multi {
                display: flex;
                align-items: center;
                word-break: break-word;
            }

            &.box-content-row-multi {
                width: 100%;

                input:not([type="checkbox"]) {
                    width: 100%;
                }

                input + label.sr-only + select {
                    margin-top: 5px;
                }

                > a {
                    padding: 8px 8px 8px 4px;
                    color: $brand-danger;
                    margin: 0;
                }
            }

            &.box-content-row-checkbox, &.box-content-row-input, &.box-content-row-slider {
                label, .row-label {
                    font-size: $font-size-base;
                    color: $text-color;
                    display: inline;
                    width: initial;
                    margin-bottom: 0;
                }

                > span {
                    color: $text-muted;
                }

                > input {
                    margin: 0 0 0 auto;
                    padding: 0;
                }

                > * {
                    margin-right: 15px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            &.box-content-row-input {
                label {
                    white-space: nowrap;
                }

                input {
                    text-align: right;
                }
            }

            &.box-content-row-slider {
                input[type="range"] {
                    height: 10px;
                }

                input[type="number"] {
                    width: 45px;
                }

                label {
                    white-space: nowrap;
                }
            }

            input:not([type="checkbox"]), textarea {
                border: none;
                width: 100%;
                background-color: transparent;

                &::-webkit-input-placeholder {
                    color: lighten($gray-light, 35%);
                }

                &:focus {
                    outline: none;
                }
            }

            select {
                width: 100%;
                border: 1px solid darken($border-color-dark, 7%);
                border-radius: $border-radius;
            }

            .action-buttons {
                display: flex;
                margin-left: 5px;

                .row-btn {
                    cursor: pointer;
                    padding: 10px 8px;
                    background: none;
                    border: none;
                    color: $brand-primary;

                    &:hover, &:focus {
                        color: darken($brand-primary, 10%);
                    }

                    &.disabled {
                        color: $list-icon-color;

                        &:hover {
                            color: $list-icon-color;
                        }
                    }

                    &:last-child {
                        padding-right: 2px !important;
                    }
                }

                &.no-pad .row-btn {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }

            select.field-type {
                margin: 5px 0 0 25px;
                width: calc(100% - 25px);
            }

            .row-sub-icon {
                color: $list-icon-color;
            }

            .row-sub-label {
                margin: 0 15px;
                color: $gray-light;
                white-space: nowrap;
            }
        }

        &.condensed .box-content-row, .box-content-row.condensed {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        &.no-hover .box-content-row, .box-content-row.no-hover {
            &:hover, &:focus {
                background-color: initial;
            }
        }
    }

    .box-footer {
        margin: 5px 10px;
        font-size: $font-size-small;
        color: $text-muted;
    }
}
