/* Cozy UI utilities classes */
@import '~cozy-ui/dist/cozy-ui.min.css';
/* Cozy UI React components styles */
@import '~cozy-ui/transpiled/react/stylesheet.css';

[role=application] {
    display: block;
}

[role=banner] {
    background: $background-color;
}

app-installation-page {
    height: 100%;
    background: $background-color;
}

app-import-page {
    background: $background-color;
}

.angular-react-wrapper {
    a[class*="btn___"] {
        &, &:hover, &:focus {
            color: var(--primaryContrastTextColor);
        }
    }
    a[class*="btn--secondary___"] {
        &, &:hover, &:focus {
            color: var(--secondaryButtonContrastColor);
        }
    }

    svg[class*="MuiStepIcon-active"] {
        color: var(--primaryColor);
    }
}