/* Cozy UI utilities classes */
@import '~cozy-ui/dist/cozy-ui.min.css';
/* Cozy UI React components styles */
@import '~cozy-ui/transpiled/react/stylesheet.css';

@import '~cozy-sharing/dist/stylesheet.css';

[role=application] {
    display: block;
}

[role=banner] {
    background: $background-color;
}

app-installation-page {
    height: 100%;
    background: $background-color;
}

app-import-page {
    background: $background-color;
}

app-button-extension {
    margin: 16px;
}

.angular-react-wrapper {
    font-family: var(--primaryFont);

    a[class*="btn___"] {
        &, &:hover, &:focus {
            color: var(--primaryContrastTextColor);
        }
    }
    a[class*="btn--secondary___"],
    a[class*="c-btn-client___"] {
        &, &:hover, &:focus {
            color: var(--secondaryButtonContrastColor);
        }
    }

    span[class*="MuiTypography"],
    svg text[class*="MuiStepIcon-text"] {
        font-family: var(--primaryFont);
    }

    svg[class*="MuiStepIcon-active"] {
        color: var(--primaryColor);
    }

    button {
        white-space: inherit;
    }
}

app-vault-icon {
    color: var(--secondaryTextColor);
}

.icon-cozy {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-position: center;
}

.icon-cozy-sync {
    background-image: url('../images/icons-16-cozy-sync.svg');
}

app-vault-groupings {
    app-cozy-icon {
        display: flex;
        margin-right: 5px;

        svg {
            fill: var(--coolGrey);
        }
    }
}