.credit-card-icon {
    height: 18px;
    width: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}

.card-visa {
    background-image: url(../images/cards/visa-dark.png);

}
  
.theme_light .card-visa {
    background-image: url("../images/cards/visa-light.png");
}

.card-amex {
    background-image: url(../images/cards/amex-dark.png);

}
  
.theme_light .card-amex {
    background-image: url("../images/cards/amex-light.png");
}

.card-diners-club {
    background-image: url(../images/cards/diners_club-dark.png);

}
  
.theme_light .card-diners-club {
    background-image: url("../images/cards/diners_club-light.png");
}

.card-discover {
    background-image: url(../images/cards/discover-dark.png);

}
  
.theme_light .card-discover {
    background-image: url("../images/cards/discover-light.png");
}

.card-jcb {
    background-image: url(../images/cards/jcb-dark.png);

}
  
.theme_light .card-jcb {
    background-image: url("../images/cards/jcb-light.png");
}

.card-maestro {
    background-image: url(../images/cards/maestro-dark.png);

}
  
.theme_light .card-maestro {
    background-image: url("../images/cards/maestro-light.png");
}

.card-mastercard {
    background-image: url(../images/cards/mastercard-dark.png);

}
  
.theme_light .card-mastercard {
    background-image: url("../images/cards/mastercard-light.png");
}

.card-union-pay {
    background-image: url(../images/cards/union_pay-dark.png);

}
  
.theme_light .card-union-pay {
    background-image: url("../images/cards/union_pay-light.png");
}