@import "variables.scss";

small {
    font-size: $font-size-small;
}

.text-primary {
    color: $brand-primary !important;
}

.text-success {
    color: $brand-success !important;
}

.text-muted {
    color: $text-muted !important;
}

.text-default {
    color: $text-color !important;
}

.text-center {
    text-align: center;
}

.no-margin {
    margin: 0 !important;
}

p.lead {
    font-size: $font-size-large;
    margin-bottom: 20px;
    font-weight: normal;
}

[hidden] {
    display: none !important;
}

.monospaced {
    font-family: $font-family-monospace;
}

.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    border: 0 !important;
}

.totp {
    .totp-code {
        font-family: $font-family-monospace;
        font-size: 1.1em;
    }

    .totp-countdown {
        margin: 3px 3px 0 0;
        display: block;
        user-select: none;

        .totp-sec {
            font-size: 0.85em;
            position: absolute;
            line-height: 32px;
            width: 32px;
            text-align: center;
        }

        svg {
            width: 32px;
            height: 32px;
            transform: rotate(-90deg);
        }

        .totp-circle {
            stroke: $brand-primary;
            fill: none;

            &.inner {
                stroke-width: 3;
                stroke-dasharray: 78.6;
                stroke-dashoffset: 0;
            }

            &.outer {
                stroke-width: 2;
                stroke-dasharray: 88;
                stroke-dashoffset: 0;
            }
        }
    }

    &.low {
        .totp-sec, .totp-code {
            color: $brand-danger;
        }

        .totp-circle {
            stroke: $brand-danger;
        }
    }
}

.password-block {
    font-size: $font-size-large;
    word-break: break-all;
    font-family: $font-family-monospace;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .modal-body & {
        margin-top: 10px;
    }
}

#duo-frame {
    background: url('../images/loading.svg') 0 0 no-repeat;
    height: 330px;
    margin: 0 -150px 15px -150px;

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}

form, .form {
    .form-group {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        label {
            display: inline-block;
            margin-bottom: 2px;
        }

        input, select, textarea {
            border: 1px solid darken($border-color-dark, 7%);
            border-radius: $border-radius;
            display: block;
        }
    }

    .checkbox {
        position: relative;
        display: block;
        padding-left: 18px;

        label {
            margin-bottom: 0;
        }

        input[type="checkbox"] {
            position: absolute;
            margin-top: 4px;
            margin-left: -18px;
        }
    }

    .help-block {
        margin-top: 3px;
        color: $text-muted;
        display: block;
    }
}

app-root > #loading {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: $text-muted;
}
