@import "variables.scss";

small {
    font-size: $font-size-small;
}

.bg-primary {
    @include themify($themes) {
        background-color: themed('primaryColor') !important;
    }
}

.bg-success {
    @include themify($themes) {
        background-color: themed('successColor') !important;
    }
}

.bg-danger {
    @include themify($themes) {
        background-color: themed('dangerColor') !important;
    }
}

.bg-info {
    @include themify($themes) {
        background-color: themed('infoColor') !important;
    }
}

.bg-warning {
    @include themify($themes) {
        background-color: themed('warningColor') !important;
    }
}

.text-primary {
    @include themify($themes) {
        color: themed('primaryColor') !important;
    }
}

.text-success {
    @include themify($themes) {
        color: themed('successColor') !important;
    }
}

.text-danger {
    @include themify($themes) {
        color: themed('dangerColor') !important;
    }
}

.text-warning {
    @include themify($themes) {
        color: themed('warningColor') !important;
    }
}

.text-muted {
    @include themify($themes) {
        color: themed('mutedColor') !important;
    }
}

.text-default {
    @include themify($themes) {
        color: themed('textColor') !important;
    }
}

.text-center {
    text-align: center;
}

.no-margin {
    margin: 0 !important;
}

.font-weight-semibold {
    font-weight: 600;
}

p.lead {
    font-size: $font-size-large;
    margin-bottom: 20px;
    font-weight: normal;
}

.monospaced {
    font-family: $font-family-monospace;
}

.show-whitespace {
    white-space: pre-wrap;
}

.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    border: 0 !important;
}

.totp {
    .totp-code {
        font-family: $font-family-monospace;
        font-size: 1.1em;
    }

    .totp-countdown {
        margin: 3px 3px 0 0;
        display: block;
        user-select: none;

        .totp-sec {
            font-size: 0.85em;
            position: absolute;
            line-height: 32px;
            width: 32px;
            text-align: center;
        }

        svg {
            width: 32px;
            height: 32px;
            transform: rotate(-90deg);
        }

        .totp-circle {
            fill: none;

            @include themify($themes) {
                stroke: themed('totpStrokeColor');
            }

            &.inner {
                stroke-width: 3;
                stroke-dasharray: 78.6;
                stroke-dashoffset: 0;
            }

            &.outer {
                stroke-width: 2;
                stroke-dasharray: 88;
                stroke-dashoffset: 0;
            }
        }
    }

    &.low {
        .totp-sec, .totp-code {
            @include themify($themes) {
                color: themed('dangerColor');
            }
        }

        .totp-circle {
            @include themify($themes) {
                stroke: themed('dangerColor');
            }
        }
    }
}

.password-block {
    font-size: $font-size-large;
    font-family: $font-family-monospace;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

    .modal-body & {
        margin-top: 10px;
    }
}

.password-wrapper {
    word-break: break-all;
    white-space: pre-wrap;
    min-width: 0;
}

.password-number {
    @include themify($themes) {
        color: themed('passwordNumberColor');
    }
}

.password-special {
    @include themify($themes) {
        color: themed('passwordSpecialColor');
    }
}

#duo-frame {
    background: url('../images/loading.svg') 0 0 no-repeat;
    height: 330px;
    margin: 0 -150px 15px -150px;

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}

#web-authn-frame {
    background: url('../images/loading.svg') 0 0 no-repeat;
    height: 250px;
    margin: 0 0 15px 0;

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}

form, .form {
    .form-group {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        label {
            display: inline-block;
            margin-bottom: 2px;
        }

        input, select, textarea {
            border: 1px solid #000000;
            border-radius: $border-radius;
            display: block;

            @include themify($themes) {
                border-color: themed('inputBorderColor');
            }
        }
    }

    .checkbox {
        position: relative;
        display: block;
        padding-left: 18px;

        label {
            margin-bottom: 0;
        }

        input[type="checkbox"] {
            position: absolute;
            margin-top: 4px;
            margin-left: -18px;
        }
    }

    .radio {
        position: relative;
        display: block;
        padding-left: 18px;
        margin-top: 4px;

        &.radio-mt-2 {
            margin-top: 2px;
        }

        label {
            margin-bottom: 0;
        }

        input[type="radio"] {
            position: absolute;
            margin-top: 4px;
            margin-left: -18px;
        }
    }

    .help-block {
        margin-top: 3px;
        display: block;

        @include themify($themes) {
            color: themed('mutedColor');
        }
    }
}

app-root > #loading {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: $text-muted;

    @include themify($themes) {
        color: themed('mutedColor');
    }
}

.logo-image {
    @include themify($themes) {
        content: url('../images/logo-' + themed('logoSuffix') + '@2x.png');
    }
}

[hidden] {
    display: none !important;
}

.draggable {
    cursor: move;
}

.callout {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-left-width: 5px;
    border-radius: 3px;
    @include themify($themes) {
        border-color: themed('calloutBorderColor');
        background-color: themed('calloutBackgroundColor');
    }

    .callout-heading {
        margin-top: 0;
    }

    h3.callout-heading {
        font-weight: bold;
        text-transform: uppercase;
    }

    &.callout-primary {
        @include themify($themes) {
            border-left-color: themed('primaryColor');
        }

        .callout-heading {
            @include themify($themes) {
                color: themed('primaryColor');
            }
        }
    }

    &.callout-info {
        @include themify($themes) {
            border-left-color: themed('infoColor');
        }

        .callout-heading {
            @include themify($themes) {
                color: themed('infoColor');
            }
        }
    }

    &.callout-danger {
        @include themify($themes) {
            border-left-color: themed('dangerColor');
        }

        .callout-heading {
            @include themify($themes) {
                color: themed('dangerColor');
            }
        }
    }

    &.callout-success {
        @include themify($themes) {
            border-left-color: themed('successColor');
        }

        .callout-heading {
            @include themify($themes) {
                color: themed('successColor');
            }
        }
    }

    &.callout-warning {
        @include themify($themes) {
            border-left-color: themed('warningColor');
        }

        .callout-heading {
            @include themify($themes) {
                color: themed('warningColor');
            }
        }
    }

    ul {
        padding-left: 40px;
        margin: 0;
    }
}


.icon-type {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

img.icon-type {
    width: 17px;
    height: 17px;
    margin-right: 9px;
    margin-left: 4px;
}

.icon-wrapper {
    float: left;
    display: flex;
    align-items: center;
    height: 36px;
}

.inner-cozy-logo {
    width: 77%;
    height: 100%;
}


.material-input {

    cursor:text;
    border: 1px solid;
    border-radius: 4px;
    border-color: #ffffffa3;
    position: relative;
    & ::selection {
        background: #b5d4ff;;
    }


    .error label {
        color: #fecece;
    }

    label {
        font-size: 16px;
        color: #b5d4ff;
    }


    $visible-label-top: 0.8rem;
    $visible-label-padding: 0.3rem;
    $visible-label-left: 0.75rem;
    $visible-label-right-for-eye: 2rem;
    $visible-label-right: 0.1rem;
    $visible-label-focused-top: -0.7rem;

    .visible-label {
        position: absolute;
        top: $visible-label-top;
        transition: all 0.5s;
        display: inline-block;
        height: 0;
        width: 100%;
        z-index: 1;
    }

    .visible-label > label {
        cursor:text;
        position: absolute;
        left: $visible-label-left;
        padding-left: 0;
        padding-right: 0;
        max-width: calc(100% - #{ $visible-label-left });
        transition: all 0.5s;
        background-color: #297EF2;
    }

    &.eyed > .visible-label > label {
        max-width: calc(100% - #{ 2 * $visible-label-padding + $visible-label-left + $visible-label-right-for-eye});
    }

    .shadow-placeholder {
        opacity: 0;
        color: black;
        position: relative;
        display: block;
        padding:
            $visible-label-top
            $visible-label-padding
            $visible-label-top
            #{$visible-label-left + $visible-label-padding};
    }

    &.eyed > .shadow-placeholder {
        padding-right: $visible-label-padding + $visible-label-right-for-eye;
    }

    &.focused-or-filled > .visible-label {
        top: $visible-label-focused-top;
    }

    &.focused-or-filled .visible-label > label {
        font-size: 12px;
        max-width: calc(100% - #{ 2 * $visible-label-padding + $visible-label-left + $visible-label-right});
        padding-left: $visible-label-padding;
        padding-right: $visible-label-padding;
    }

    .box-labeled-input {
        position: absolute;
        top: $visible-label-focused-top;
        height: calc(100% - #{$visible-label-focused-top});
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .shadow-label {
        opacity: 0;
        cursor:text;
        position: relative;
        left: $visible-label-left + $visible-label-padding;
        font-size: 12px;
        max-width: calc(100% - #{$visible-label-left + 2*$visible-label-padding + $visible-label-right});
        display: block;
    }

    .box-input {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    input {
        width: 100%;
        border: 0;
        background-color: transparent;
        color: inherit;
        padding-left: $visible-label-left + $visible-label-padding;
        box-sizing: border-box;
        outline: none;
        font-size: 16px;
        &::placeholder {
            color: #b5d4ff;
        }
        &::-ms-clear, &::-ms-reveal {
            display: none;
        }
    }

    .visibility-btn {
        cursor: pointer;
        margin-left: 0.25rem;
        margin-right: 1rem;
        padding-bottom: 4px;
        display: flex;
        align-items: center;
        color: inherit;
    }

    hr {
        margin: 0 10px 0 10px;
        border-width: 0;
        border-bottom: 1px solid #5892E6;
    }

    #error-label {
        width: 100%;
        display: block;
        color: #fecece;
        font-style: italic;
        font-size: 14px;
    }

    button {
        border: 1px solid white;
        border-radius: 2px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 10px 10px 10px;
        width: 100%;
        color: #297ef2;
        background-color: white;

        &:hover {
            cursor: pointer;
        }

        &:disabled {
            color: #84b5f8;
            background-color: #d3e5ff;
            cursor: progress;
        }
    }

    :disabled {
        cursor: progress;
    }
}

.waiting .material-input {
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.64);
    color: #b5d4ff;
    cursor: progress;
}

.error .material-input {
    border-color: #fecece;
}
