@import "variables.scss";

$white: white;
$black: black;
$line-height-base: 14px;
$border-radius-lg: $border-radius;

// ref: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss

$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px ) !default;

$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;

// Padding applied to the modal body
$modal-inner-padding: 10px !default;

$modal-dialog-margin: .5rem !default;
$modal-dialog-margin-y-sm-up: 1.75rem !default;

$modal-title-line-height: $line-height-base !default;

//$modal-content-bg: $background-color-alt !default;
$modal-content-border-color: rgba($black, .2) !default;
$modal-content-border-width: 1px !default;
$modal-content-box-shadow-xs: none;
$modal-content-box-shadow-sm-up: none;

$modal-backdrop-bg: $black !default;
$modal-backdrop-opacity: .5 !default;
$modal-header-border-color: $border-color-dark !default;
$modal-footer-border-color: $modal-header-border-color !default;
$modal-header-border-width: $modal-content-border-width !default;
$modal-footer-border-width: $modal-header-border-width !default;
$modal-header-padding: 12px !default;

$modal-lg: 800px !default;
$modal-md: 500px !default;
$modal-sm: 300px !default;

$modal-transition: transform .3s ease-out !default;

$close-font-size: $font-size-base * 1.5 !default;
$close-font-weight: bold !default;
$close-color: $black !default;
$close-text-shadow: 0 1px 0 $white !default;

// ref: https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_breakpoints.scss

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
    $min: breakpoint-min($name, $breakpoints);

    @if $min {
        @media (min-width: $min) {
            @content;
        }
    }
    @else {
        @content;
    }
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
    $min: map-get($breakpoints, $name);
    @return if($min != 0, $min, null);
}

// Custom Added CSS animations

@keyframes modalshow {
    0% {
        opacity: 0;
        transform: translate(0, -25%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes backdropshow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: $modal-backdrop-opacity;
    }
}

// ref: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_modal.scss

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff


// Kill the scroll on the body
.modal-open {
    overflow: hidden;
}

// Container that the modal scrolls within
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal;
    //display: none;
    overflow: hidden;
    // Prevent Chrome on Windows from adding a focus outline. For details, see
    // https://github.com/twbs/bootstrap/pull/10951.
    outline: 0;
    // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
    // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
    // See also https://github.com/twbs/bootstrap/issues/17695
    .modal-open & {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

// Shell div to position the modal with bottom padding
.modal-dialog {
    position: relative;
    width: auto;
    margin: $modal-dialog-margin;
    // allow clicks to pass through for custom click handling to close modal
    pointer-events: none;
    // When fading in the modal, animate it to slide down
    .modal.fade & {
        //@include transition($modal-transition);
        //transform: translate(0, -25%);
        animation: modalshow 0.3s ease-in;
    }
    //.modal.show & {
    //    transform: translate(0, 0);
    //}
    transform: translate(0, 0);
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - (#{$modal-dialog-margin} * 2));
}

// Actual modal
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%; // Ensure `.modal-content` extends the full width of the parent `.modal-dialog`
    // counteract the pointer-events: none; in the .modal-dialog
    pointer-events: auto;
    //background-color: $modal-content-bg;
    background-clip: padding-box;
    border: $modal-content-border-width solid $modal-content-border-color;
    //@include border-radius($border-radius-lg);
    //@include box-shadow($modal-content-box-shadow-xs);
    border-radius: $border-radius-lg;
    box-shadow: $modal-content-box-shadow-xs;
    // Remove focus outline from opened modal
    outline: 0;

    @include themify($themes) {
        background-color: themed('backgroundColorAlt');
    }
}

// Modal background
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal-backdrop;
    background-color: $modal-backdrop-bg;
    // Fade for backdrop
    &.fade {
        //opacity: 0;
        animation: backdropshow 0.1s ease-in;
    }
    //&.show {
    //    opacity: $modal-backdrop-opacity;
    //}
    opacity: $modal-backdrop-opacity;
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
    display: flex;
    align-items: flex-start; // so the close btn always stays on the upper right corner
    justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
    padding: $modal-header-padding $modal-inner-padding;
    border-bottom: $modal-header-border-width solid $modal-header-border-color;
    //@include border-top-radius($border-radius-lg);

    @include themify($themes) {
        border-bottom-color: themed('borderColor');
    }

    .close {
        padding: $modal-header-padding $modal-inner-padding;
        // auto on the left force icon to the right even when there is no .modal-title
        margin: (-$modal-header-padding) (-$modal-inner-padding) (-$modal-header-padding) auto;
    }

    h5 {
        font-size: $font-size-base;
        font-weight: bold;
        display: flex;
        align-items: center;

        .fa {
            margin-right: 5px;
        }
    }
}

// Title text within header
.modal-title {
    margin-bottom: 0;
    line-height: $modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
    position: relative;
    // Enable `flex-grow: 1` so that the body take up as much space as possible
    // when should there be a fixed height on `.modal-dialog`.
    flex: 1 1 auto;
    padding: $modal-inner-padding;
}

// Footer (for actions)
.modal-footer {
    display: flex;
    align-items: center; // vertically center
    //justify-content: flex-end; // Right align buttons with flex property because text-align doesn't work on flex items
    padding: $modal-inner-padding;
    border-top: $modal-footer-border-width solid $modal-footer-border-color;

    @include themify($themes) {
        border-top-color: themed('borderColor');
    }

    // Easily place margin between footer elements
    button {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    .right {
        margin-left: auto;
        display: flex;
    }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

// Scale up the modal
@include media-breakpoint-up(sm) {
    // Automatically set modal's width for larger viewports
    .modal-dialog {
        max-width: $modal-md;
        margin: $modal-dialog-margin-y-sm-up auto;
    }

    .modal-dialog-centered {
        min-height: calc(100% - (#{$modal-dialog-margin-y-sm-up} * 2));
    }

    .modal-content {
        //@include box-shadow($modal-content-box-shadow-sm-up);
        box-shadow: $modal-content-box-shadow-sm-up;
    }

    .modal-sm {
        max-width: $modal-sm;
    }
}

@include media-breakpoint-up(lg) {
    .modal-lg {
        max-width: $modal-lg;
    }
}

// ref: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_close.scss

.close {
    float: right;
    font-size: $close-font-size;
    font-weight: $close-font-weight;
    line-height: 1;
    color: $close-color;
    text-shadow: $close-text-shadow;
    opacity: .5;

    &:hover, &:focus {
        color: $close-color;
        text-decoration: none;
        opacity: .75;
    }
    // Opinionated: add "hand" cursor to non-disabled .close elements
    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

// stylelint-disable property-no-vendor-prefix, selector-no-qualifying-type
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
// stylelint-enable

// box

.modal-content .box {
    margin-top: 20px;

    &:first-child {
        margin-top: 0;
    }
}
