@import "variables.scss";

#login, #register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    @media (min-height: 500px) {
        height: calc(100% + 50px);
        margin-top: -50px;
    }

    @media (min-height: 800px) {
        height: calc(100% + 300px);
        margin-top: -300px;
    }

    .content {
        max-width: 300px;

        img {
            margin: 0 auto 15px;
            width: 282px;
            display: block;
        }

        p {
            font-size: $font-size-large;
            text-align: center;
            margin-bottom: 20px;
        }

        .box {
            margin-bottom: 20px;

            &.last {
                margin-bottom: 15px;
            }
        }

        .buttons {
            display: flex;
            margin-bottom: 20px;

            button {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .sub-options {
            text-align: center;
            margin-bottom: 20px;
        }

        a.settings-icon {
            color: #bbbbbb;
            position: absolute;
            top: 10px;
            left: 10px;

            span {
                visibility: hidden;
            }

            &:hover, &:focus {
                color: $brand-primary;
                text-decoration: none;

                span {
                    visibility: visible;
                }
            }
        }
    }
}
