$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";
@import "~angular2-toaster/toaster";

@import "variables.scss";
@import "box.scss";
@import "plugins.scss";

* {
    box-sizing: border-box;
}

div::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

div::-webkit-scrollbar-track {
    background-color: transparent;
}

div::-webkit-scrollbar-thumb {
    background-color: rgba(100,100,100,.2);
    border-radius: 10px;
    margin-right: 1px;

    &:hover {
        background-color: rgba(100,100,100,.4);
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: $background-color;
    overflow: hidden;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    color: $text-color;
    line-height: 1.42857143;
}

body {
    border-top: 1px solid $border-color-dark;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: $brand-primary;
    text-decoration: none;
}

.monospaced {
    font-family: $font-family-monospace;
}

.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    border: 0 !important;
}

input, select, textarea, button {
    font-size: $font-size-base;
}

textarea {
    resize: vertical;
}

#vault {
    height: 100vh;
    display: flex;

    #groupings {
        background-color: $background-color-alt;
        width: 15%;
        min-width: 175px;
        max-width: 250px;
        border-right: 1px solid $border-color-dark;

        h2 {
            font-size: $font-size-base;
            font-weight: bold;
            margin-bottom: 5px;
        }

        ul:not(.fa-ul) {
            li {
                margin: 0;
                padding: 0;
                list-style: none;
            }
        }

        ul.fa-ul {
            li {
                .fa-li {
                    left: -11px;
                    top: 8px;
                }

                a {
                    padding-left: 12px;
                }
            }
        }

        ul {
            padding: 0;
            margin: 0 0 15px 0;

            li {
                a {
                    display: block;
                    padding: 5px 0;
                    color: $text-color;
                }
            }
        }
    }

    #items {
        background-color: $background-color;
        width: 25%;
        min-width: 200px;
        max-width: 350px;
        border-right: 1px solid $border-color-dark;
    }

    #details {
        background-color: $background-color-alt2;
        flex: 1;
        min-width: 400px;
    }

    #groupings, #items, #details {
        display: flex;
        flex-direction: column;

        .inner-content {
            padding: 10px 15px;
        }
    }

    .header {
        min-height: 44px;
        max-height: 44px;
        background-color: $brand-primary;
        color: white;
        text-align: center;
        overflow: hidden;
        flex: 0 0 auto;

        a, button {
            color: white !important;
            text-decoration: none;
            background: none;

            &:hover, &:focus {
                background-color: rgba(255, 255, 255, 0.1);
            }

            &:hover {
                text-decoration: none;
            }

            &:focus {
                text-decoration: underline;
            }
        }

        .title {
            font-weight: bold;
            display: block;
            padding: 12px 0;
            text-align: center;
        }

        .left {
            display: block;
            position: absolute;
            left: 0;
            text-align: left;

            a, button {
                padding: 12px 10px;
                display: block;
                float: left;
            }

            .fa-spinner {
                padding: 15px;
                display: block;
                float: left;
            }
        }

        .right {
            display: block;
            right: 0;
            position: absolute;
            z-index: 99999;

            a, button {
                padding: 12px 10px;
                display: block;
                float: right;
            }

            .fa-spinner {
                padding: 15px;
                display: block;
                float: right;
            }
        }

        &.header-search {
            .left, .right, .search {
                display: table-cell;
                position: relative;
            }

            .search {
                padding: 0 7px;
                width: 100%;
                text-align: left;
                position: relative;

                .fa-search {
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    color: lighten($brand-primary, 30%);
                }

                input {
                    width: 100%;
                    margin: 0;
                    float: none;
                    background: darken($brand-primary, 8%);
                    border: none;
                    color: white;
                    padding: 5px 10px 5px 30px;
                    border-radius: $border-radius;

                    &:focus {
                        border-radius: $border-radius;
                        outline: none;
                        background: darken($brand-primary, 10%);
                    }

                    &::-webkit-input-placeholder {
                        color: lighten($brand-primary, 35%);
                    }
                }
            }

            a {
                white-space: nowrap;
                float: none;
            }
        }
    }

    .content {
        flex: 1 1 auto;
        position: relative;
        overflow: auto;
    }

    .footer {
        height: 50px;
        background-color: $background-color-alt;
        flex: 0 0 auto;
        border-top: 1px solid $border-color-dark;
        display: flex;
        align-items: center;
        padding: 0 15px;

        button {
            background-color: $button-backgound-color;
            border-radius: $border-radius;
            padding: 7px 15px;
            border: 1px solid $button-border-color;
            margin-right: 10px;
            font-size: $font-size-base;
            color: $button-color;

            &:hover {
                cursor: pointer;
                background-color: darken($button-backgound-color, 1.5%);
            }

            &.primary {
                color: $button-color-primary;
            }

            &.danger {
                color: $button-color-danger;
            }

            &.block {
                display: block;
                width: 100%;
            }

            &.right {
                margin-left: auto;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}


.list {
    .list-grouped {
        .list-grouped-header {
            background-color: transparent;
            padding: 10px 10px;
            color: $gray-light;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            small {
                float: right;
            }
        }
    }

    .list-section {
        padding-bottom: 10px;

        &:first-child {
            padding-top: 10px;
        }

        .list-section-header {
            background-color: transparent;
            padding: 5px 10px;
            color: $gray-light;
            text-transform: uppercase;
            font-size: ($font-size-base - 1);

            label {
                font-weight: normal;
            }

            span {
                float: right;
            }
        }

        .list-section-items {
            border-top: 1px solid $border-color-dark;
            border-bottom: 1px solid $border-color-dark;
        }

        .list-section-footer {
            padding: 5px 10px;
            font-size: $font-size-small;
            color: $gray-light;
        }
    }

    .list-grouped-item, .list-section-item {
        display: block;
        padding: 10px 10px;
        background-color: white;
        text-decoration: none;
        color: $text-color;
        position: relative;
        z-index: 1;

        &:not(.pre) {
            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }

        &.text-primary {
            color: $brand-primary !important;
        }

        &.text-danger {
            color: $brand-danger !important;
        }

        &:not(.wrap) {
            .text, .detail {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &:before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            height: 1px;
            width: calc(100% - 10px);
            border-bottom: 1px solid $border-color;
        }

        &:last-child {
            &:before {
                border: none;
                height: 0;
            }
        }

        &:hover, &:focus, &.active {
            background-color: $list-item-hover;
        }

        &:not(:hover):focus {
            border-left: 5px solid $brand-primary;
            padding-left: 5px;
        }

        .leading-icon {
            font-size: 35px;
            float: left;
            display: inline-block;
            margin: 0 8px 5px 0;
        }

        .text {
            display: block;
            color: $text-color;
        }

        .detail {
            font-size: $font-size-small;
            color: $gray-light;
            display: block;
        }

        .item-label {
            font-size: $font-size-small;
            color: $gray-light;
            display: block;
            width: 100%;
            font-weight: normal;
            margin-bottom: 5px;
        }

        &.list-section-item-table {
            display: table;
            width: 100%;
        }

        .action-button {
            padding: 8px 10px 8px 5px;
            display: table-cell;
            width: 20px;
            vertical-align: middle;

            &.text-danger {
                color: $brand-danger !important;
            }
        }

        .action-button-content {
            display: table-cell;
            vertical-align: middle;
        }

        .field-type {
            margin: 5px 0 0 27px;
            width: calc(100% - 27px);
        }

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            float: left;
            height: 36px;
            width: 34px;
            margin-left: -5px;
            color: $text-muted;

            img {
                border-radius: $border-radius;
                max-height: 20px;
                max-width: 20px;
            }

            &.single-line {
                height: initial;
                display: block;
                text-align: center;
            }
        }

        .action-buttons {
            float: right;

            .btn-list {
                float: left;
                cursor: pointer;
                padding: 10px 8px;
                background: none;
                border: none;
                color: $brand-primary;

                &:hover, &:focus {
                    color: darken($brand-primary, 10%);
                }

                &.disabled {
                    color: $list-icon-color;

                    &:hover {
                        color: $list-icon-color;
                    }
                }

                &:last-child {
                    padding-right: 2px !important;
                }
            }
        }

        .fa-chevron-right, .right-icon {
            float: right;
            margin-top: 4px;
            color: $list-icon-color;
        }

        .item-sub-label {
            float: right;
            display: block;
            margin-right: 15px;
            color: $gray-light;
        }

        small.item-sub-label {
            margin-top: 2px;
        }

        &.condensed {
            padding: 3px 10px;

            .action-buttons {
                .btn-list {
                    padding: 8px 5px;
                }
            }

            &:not(:hover):focus {
                padding-left: 5px;
            }
        }

        &.wrap {
            overflow-wrap: break-word;
        }

        &.flex {
            display: flex;
        }

        .flex-grow {
            flex-grow: 1;
        }
    }
}

.list-no-selection {
    .list-grouped-item:not(.list-allow-selection), .list-section-item:not(.list-allow-selection) {
        &:hover {
            background-color: white;
        }
    }
}

.totp {
    .totp-code {
        font-family: $font-family-monospace;
        font-size: 1.1em;
    }

    .totp-countdown {
        margin: 3px 3px 0 0;
        display: block;
        user-select: none;
        float: right;

        .totp-sec {
            font-size: 0.85em;
            position: absolute;
            line-height: 32px;
            width: 32px;
            text-align: center;
        }

        svg {
            width: 32px;
            height: 32px;
            transform: rotate(-90deg);
        }

        .totp-circle {
            stroke: $brand-primary;
            fill: none;

            &.inner {
                stroke-width: 3;
                stroke-dasharray: 78.6;
                stroke-dashoffset: 0;
            }

            &.outer {
                stroke-width: 2;
                stroke-dasharray: 88;
                stroke-dashoffset: 0;
            }
        }
    }

    &.low {
        .totp-sec, .totp-code {
            color: $brand-danger;
        }

        .totp-circle {
            stroke: $brand-danger;
        }
    }
}
