@import "variables.scss";

.vault {
    height: 100%;
    display: flex;

    > .groupings, > .items, > .details, > .logo {
        display: flex;
        flex-direction: column;

        .inner-content {
            padding: 10px 15px;
        }
    }

    > .groupings {
        width: 22%;
        min-width: 175px;
        max-width: 250px;
        border-right: 1px solid #000000;

        @include themify($themes) {
            background-color: themed('backgroundColorAlt');
            border-right-color: themed('borderColor');
        }

        .inner-content {
            display: flex;
            height: 100%;
            flex-direction: column;
            flex-grow: 1;
            justify-content: space-between;
            padding-right: 5px;
            user-select: none;

            > ul, > div > ul {
                margin: 0 0 15px 0;
            }
        }

        h2 {
            text-transform: uppercase;
            font-size: $font-size-base;
            font-weight: normal;
            margin-bottom: 5px;

            @include themify($themes) {
                color: themed('headingColor');
            }
        }

        .heading {
            display: flex;

            button {
                margin-left: auto;
                background: none;
                border: none;
                @include themify($themes) {
                    color: themed('headingButtonColor');
                }

                &:hover, &:focus {
                    cursor: pointer;

                    @include themify($themes) {
                        color: themed('headingButtonHoverColor');
                    }
                }
            }
        }

        ul:not(.fa-ul) {
            li {
                margin: 0;
                padding: 0;
                list-style: none;
            }
        }

        ul.fa-ul {
            li {
                word-break: break-all;

                .fa-li {
                    top: 8px;
                    width: 1.1em;
                }
            }
        }

        // Nested indentions
        ul.fa-ul {
            // Level 1
            li {
                > a {
                    padding-left: 12px;
                }

                .fa-li {
                    left: -4px;
                }

                &.active > a .fa-li {
                    left: 11px;
                }
            }

            // Level 2
            ul li { 
                > a {
                    padding-left: 23px;
                }

                .fa-li {
                    left: 7px;
                }

                &.active > a .fa-li {
                    left: 22px;
                }
            }

            // Level 3
            ul ul li { 
                > a {
                    padding-left: 34px;
                }

                .fa-li {
                    left: 18px;
                }

                &.active > a .fa-li {
                    left: 33px;
                }
            }

            // Level 4
            ul ul ul li { 
                > a {
                    padding-left: 45px;
                }

                .fa-li {
                    left: 29px;
                }

                &.active > a .fa-li {
                    left: 44px;
                }
            }

            // Level 5
            ul ul ul ul li { 
                > a {
                    padding-left: 56px;
                }

                .fa-li {
                    left: 40px;
                }

                &.active > a .fa-li {
                    left: 55px;
                }
            }

            // Level 6
            ul ul ul ul ul li { 
                > a {
                    padding-left: 67px;
                }

                .fa-li {
                    left: 51px;
                }

                &.active > a .fa-li {
                    left: 66px;
                }
            }

            // Level 7
            ul ul ul ul ul ul li { 
                > a {
                    padding-left: 78px;
                }

                .fa-li {
                    left: 62px;
                }

                &.active > a .fa-li {
                    left: 77px;
                }
            }
        }

        ul {
            padding: 0;
            margin: 0;

            li {
                a {
                    padding: 5px 0;
                    display: flex;
                    align-items: center;

                    @include themify($themes) {
                        color: themed('textColor');
                    }

                    span {
                        visibility: hidden;
                        margin-left: auto;
                        
                        @include themify($themes) {
                            color: themed('headingButtonColor');
                        }
        
                        &:hover, &:focus {
                            @include themify($themes) {
                                color: themed('headingButtonHoverColor');
                            }
                        }
                    }

                    &:hover, &:focus {
                        span {
                            visibility: visible;
                        }
                    }
                }

                &.active {
                    margin-left: -15px;
                    margin-right: -5px;
                    padding-left: 15px;
                    padding-right: 5px;

                    @include themify($themes) {
                        background-color: themed('groupingsActiveColor');
                    }

                    ul {
                        @include themify($themes) {
                            background-color: themed('backgroundColorAlt');
                        }

                        margin-left: -15px;
                        margin-right: -5px;
                        padding-left: 15px;
                        padding-right: 5px;
                    }
                }
            }
        }
    }

    > .items {
        width: 28%;
        min-width: 200px;
        max-width: 350px;
        border-right: 1px solid #000000;
        
        @include themify($themes) {
            background-color: themed('backgroundColor');
            border-right-color: themed('borderColor');
        }

        .no-items {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0 10px;

            .fa {
                margin-bottom: 10px;

                @include themify($themes) {
                    color: themed('disabledIconColor');
                }
            }
        }
    }

    > .details {
        flex: 1;
        min-width: 0;
        
        @include themify($themes) {
            background-color: themed('backgroundColorAlt2');
        }

        .inner-content {
            min-width: 400px;
        }

        .box {
            max-width: 550px;
            margin: 30px auto 0 auto;

            &:first-child {
                margin-top: 10px;
            }

            &:last-child {
                margin-bottom: 30px;
            }
        }

        > form {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }

    > .logo {
        flex: 1;
        min-width: 0;

        .content {
            overflow-y: hidden;
            overflow-x: auto;
        }

        .inner-content {
            min-width: 320px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        img {
            width: 284px;
            opacity: 0.3;
            transition: all 1s ease-in-out;

            &:hover {
                opacity: 1;
            }
        }
    }

    .header {
        min-height: 44px;
        max-height: 44px;
        flex: 0 0 auto;
        border-bottom: 1px solid #000000;
        display: flex;
        align-items: center;

        @include themify($themes) {
            background-color: themed('headerBackgroundColor');
            border-bottom-color: themed('headerBorderColor');
        }

        &.header-search {
            .search {
                padding: 0 7px;
                width: 100%;
                text-align: left;
                position: relative;

                .fa {
                    position: absolute;
                    top: 7px;
                    left: 15px;

                    @include themify($themes) {
                        color: themed('headerInputPlaceholderColor');
                    }
                }

                input {
                    width: 100%;
                    margin: 0;
                    border: none;
                    padding: 5px 10px 5px 30px;
                    border-radius: $border-radius;

                    @include themify($themes) {
                        background-color: themed('headerInputBackgroundColor');
                        color: themed('headerInputColor');
                    }

                    &:focus {
                        border-radius: $border-radius;
                        outline: none;

                        @include themify($themes) {
                            background-color: themed('headerInputBackgroundFocusColor');
                        }
                    }

                    &::-webkit-input-placeholder {
                        @include themify($themes) {
                            color: themed('headerInputPlaceholderColor');
                        }
                    }
                }
            }
        }
    }

    .content {
        flex: 1 1 auto;
        position: relative;
        overflow: auto;
        height: 100%;
    }

    .footer {
        height: 50px;
        flex: 0 0 auto;
        border-top: 1px solid #000000;
        display: flex;
        align-items: center;
        padding: 0 15px;

        @include themify($themes) {
            background-color: themed('backgroundColorAlt');
            border-top-color: themed('borderColor');
        }

        button {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }

        .right {
            margin-left: auto;
            display: flex;
        }
    }
}
