@import "variables.scss";

#vault {
    height: 100vh;
    display: flex;

    #groupings {
        background-color: $background-color-alt;
        width: 15%;
        min-width: 175px;
        max-width: 250px;
        border-right: 1px solid $border-color-dark;

        h2 {
            color: $gray-light;
            text-transform: uppercase;
            font-size: $font-size-base;
            font-weight: normal;
            margin-bottom: 5px;
            display: flex;

            button {
                margin-left: auto;
                background: none;
                border: none;
                color: lighten($gray-light, 30%);

                &:hover, &:focus {
                    color: $gray-light;
                    cursor: pointer;
                }
            }
        }

        ul:not(.fa-ul) {
            li {
                margin: 0;
                padding: 0;
                list-style: none;
            }
        }

        ul.fa-ul {
            li {
                .fa-li {
                    left: -11px;
                    top: 8px;
                }

                a {
                    padding-left: 12px;
                }

                &.active .fa-li {
                    left: 4px;
                }
            }
        }

        ul {
            padding: 0;
            margin: 0 0 15px 0;

            li {
                a {
                    padding: 5px 0;
                    color: $text-color;
                    display: flex;
                    align-items: center;

                    span {
                        visibility: hidden;
                        margin-left: auto;
                        color: lighten($gray-light, 30%);

                        &:hover {
                            color: $text-muted;
                        }
                    }

                    &:hover, &:focus {
                        span {
                            visibility: visible;
                        }
                    }
                }

                &.active {
                    background-color: darken($background-color-alt, 5%);
                    margin-left: -15px;
                    margin-right: -15px;
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }

    #items {
        background-color: $background-color;
        width: 25%;
        min-width: 200px;
        max-width: 350px;
        border-right: 1px solid $border-color-dark;
    }

    #details {
        background-color: $background-color-alt2;
        flex: 1;
        min-width: 0;

        .inner-content {
            min-width: 400px;
        }

        .box {
            max-width: 550px;
            margin: 30px auto 0 auto;

            &:first-child {
                margin-top: 10px;
            }

            &:last-child {
                margin-bottom: 30px;
            }
        }
    }

    #groupings, #items, #details {
        display: flex;
        flex-direction: column;

        .inner-content {
            padding: 10px 15px;
        }
    }

    .header {
        min-height: 44px;
        max-height: 44px;
        background-color: $brand-primary;
        color: white;
        text-align: center;
        overflow: hidden;
        flex: 0 0 auto;
        border-bottom: 1px solid darken($brand-primary, 7%);

        a, button {
            color: white !important;
            text-decoration: none;
            background: none;

            &:hover, &:focus {
                background-color: rgba(255, 255, 255, 0.1);
            }

            &:hover {
                text-decoration: none;
            }

            &:focus {
                text-decoration: underline;
            }
        }

        .title {
            font-weight: bold;
            display: block;
            padding: 12px 0;
            text-align: center;
        }

        .left {
            display: block;
            position: absolute;
            left: 0;
            text-align: left;

            a, button {
                padding: 12px 10px;
                display: block;
                float: left;
            }

            .fa-spinner {
                padding: 15px;
                display: block;
                float: left;
            }
        }

        .right {
            display: block;
            right: 0;
            position: absolute;
            z-index: 99999;

            a, button {
                padding: 12px 10px;
                display: block;
                float: right;
            }

            .fa-spinner {
                padding: 15px;
                display: block;
                float: right;
            }
        }

        &.header-search {
            .left, .right, .search {
                display: table-cell;
                position: relative;
            }

            .search {
                padding: 0 7px;
                width: 100%;
                text-align: left;
                position: relative;

                .fa-search {
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    color: lighten($brand-primary, 30%);
                }

                input {
                    width: 100%;
                    margin: 0;
                    float: none;
                    background: darken($brand-primary, 8%);
                    border: none;
                    color: white;
                    padding: 5px 10px 5px 30px;
                    border-radius: $border-radius;

                    &:focus {
                        border-radius: $border-radius;
                        outline: none;
                        background: darken($brand-primary, 10%);
                    }

                    &::-webkit-input-placeholder {
                        color: lighten($brand-primary, 35%);
                    }
                }
            }

            a {
                white-space: nowrap;
                float: none;
            }
        }
    }

    .content {
        flex: 1 1 auto;
        position: relative;
        overflow: auto;
    }

    .footer {
        height: 50px;
        background-color: $background-color-alt;
        flex: 0 0 auto;
        border-top: 1px solid $border-color-dark;
        display: flex;
        align-items: center;
        padding: 0 15px;

        button {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }

        .right {
            margin-left: auto;
            display: flex;
        }
    }
}
